.example-chip-list {
  width: 100%;
}

.html {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #f1f1f1;
  min-height: 20px;
  max-height: 10rem;
  overflow: auto;
}

.radiusX {
  background-color: white;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 16px;
}

.link-savedinfo {
  color: #ff7588;
  cursor: pointer !important;
  display: -webkit-inline-box;
}

.radiusXX {
  background-color: white;
  border: 1px solid rgb(106, 255, 253);
  border-radius: 16px;
}

.delete_border {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  padding: 0px 2rem;
  z-index: 0;
}

#progressbar #time:before {
  font-family: FontAwesome;
  content: '\f00d';
  font-size: 24px;
}

#progressbar #pencil:before {
  font-family: FontAwesome;
  content: '\f040';
  font-size: 24px;
}

#progressbar #cog:before {
  font-family: FontAwesome;
  content: '\f013';
  font-size: 24px;
}

#progressbar #check:before {
  font-family: FontAwesome;
  content: '\f00c';
  font-size: 24px;
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:nth-child(1):after,
#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
  content: '';
  width: 40%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 80%;
  top: 25px;
  z-index: -1;
}

/*!! //สีตาม track Status */
/* 1.not start = NS >> #969696
2.Traveler = T (USER) >> #f1c40f
3.Business = B (ADMIN) >> #3498db
4.Complete = C >> #19b092 */
#progressbar li#time.active:before {
  background: #969696;
}

#progressbar li#pencil.active:before {
  background: #f1c40f;
}

#progressbar li#cog.active:before {
  background: #3498db;
}

#progressbar li#check.active:before {
  background: #19b092;
}

#displayPreview div img {
  width: "100%" !important
}

/*
       /*!! //สีตาม track Status */
.link-text {
  color: #e21683;
  cursor: pointer !important;
  display: -webkit-inline-box;
}

.link-text>p {
  text-decoration: underline;
}

.link-text:hover {
  color: #04528a;
}

.btn-top:disabled:is(:hover) {
  cursor: not-allowed;
  border-color: #08508c !important;
  background-color: #08508c !important;
  color: #fff !important;
}

/*
 .modal-backdrop { z-index: 700 !important;}
 .modal{ z-index: 900;}
 .cdk-overlay-container
 {
     z-index: 9999 !important;
 }
 */
.margin-left {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08508c;
}

.disabledA {
  pointer-events: none;
  cursor: default;
}

.tx-color-top {
  color: #08508c;
}

.border-color-top {
  border-color: #08508c;
}

tbody tr:nth-child(2n + 2) {
  background-color: #edfcf9;
}

tbody tr:nth-child(2n + 2):hover {
  background-color: #e3eeec;
}

.table-wrapper {
  overflow-y: scroll;
  flex-grow: 1;
}

.table-wrapper th {
  background-color: white;
  position: sticky;
  top: 0;
}

:host ::ng-deep .ngx-dropdown-container .ngx-dropdown-button {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 35.5px !important;
  /* min-height:35px */
}

.gap {
  gap: 0.5em;
}

@media (min-width: 577px) and (max-width: 768px) {
  .btn-min-width {
    min-width: 14%;
  }
}

@media (min-width: 0px) and (max-width: 576px) {

  #progressbar li:nth-child(1):after,
  #progressbar li:nth-child(2):after,
  #progressbar li:nth-child(3):after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 75%;
    top: 25px;
    z-index: -1;
  }

  #progressbar li {
    padding: 0px 1rem;
  }

  .tx-14 {
    font-size: 0.75rem;
  }

  .btn-min-width {
    min-width: 100%;
  }
}