<div class="col-12 boxcolor-mm background-Slide animate__animated animate__fadeIn" style="height: 350px">
    <div class="row math-height">
        <div class="col-lg-12">
            <div class="card box-shadow-1 mt-3">
                <div class="card-body m-0 p-0">
                    <div class="row" #rez>


                        <div class="col-12 px-3">
                            <div class="col-lg-6 col-md-6 col-sm-12" style="min-height: 67px;">

                                <div class="marker marker-ribbon marker-top-blue pos-absolute mt-4 l-0 pl-5 pr-5">
                                    <p class="tx-24  m-0">&#32;&#32;Insurance/ISOS List</p>
                                </div>

                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 pr-0 mr-0">
                                <!-- <button class="buttonHide" (click)="statusChange()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> -->
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12 px-5  mt-4">
                                    <!-- (click)="AddMaster_remark() -->
                                    <button (click)="openModalx(template1)"
                                        class="btn btn-top  btn-round  btn-min-width mr-1 mb-1">
                                        New Item
                                    </button>
                                </div>

                                <div class="col-sm-12 py-3 px-5 mb-4">
                                    <!-- scroll-hori -->
                                    <div class="table-responsive scroll-hori"
                                        style="max-height: 350px;min-height: 200; max-width: 100%">
                                        <table
                                            class="table table-bordered table-striped table-hover border-0 ">
                                            <!-- table-wrapper -->
                                            <thead class="tx-gray-700 text-center">
                                                <tr>
                                                    <th style="min-width: 50px;width: 5%;">No</th>
                                                    
                                                    <th style="min-width: 150px;width: 25%;">Company Name</th>
                                                    <th style="width: 35%;">
                                                        E-Mail
                                                    </th> <!-- Active/ -->
                                                    <th style="min-width: 50px;width: 10%;">ISOS</th>
                                                    <th style="min-width: 100px;width: 10%;">Insurance</th>
                                                    <th style="width: 15%;" id="th_H" #th_H
                                                        [ngClass]="{'headcol':rez.offsetWidth >= 480}">
                                                        Edit/Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody class="border-0">
                                                <ng-container *ngFor="let dt of arr_mtbroker;let i = index">
                                                    <ng-container
                                                        *ngIf="dt.name != '' && dt.email != '' && dt.action_type != 'delete'">
                                                        <!-- *ngIf="dt.action_change != 'false' && dt.action_type != 'insert' && dt.action_type != 'delete' " -->
                                                        <tr class="tx-gray-700" *ngIf="dt.action_type != 'delete'">
                                                            <td class="text-center">{{i+1}}</td>
                                                            <td>{{dt.name}}</td>
                                                            <td class="text-war">{{dt.email}}</td>
                                                            <td class="text-center"> <input type="checkbox" [(ngModel)]="dt.status_isos" (ngModelChange)="CheckStatusSave($event,dt.id,0)" /> </td>
                                                            <td class="text-center"> <input type="checkbox" [(ngModel)]="dt.status_insurance" (ngModelChange)="CheckStatusSave($event,dt.id,1)" /> </td>
                                                            <td class="text-center" id="td_d" #td_d
                                                                [ngClass]="{'headcol':rez.offsetWidth >= 480}">
                                                                <span class="material-icons  tx-20 cursor-pointer"
                                                                    style="vertical-align: middle;"
                                                                    (click)="Status_Edit(template1,dt.id)">
                                                                    create
                                                                </span>
                                                                <span class="material-icons ml-2 tx-20 cursor-pointer"
                                                                    (click)="Chang_Status_dlete(dt.id)"
                                                                    style="vertical-align: middle;">
                                                                    delete_forever
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <button id="cancel" #cancel class="d-none" (click)="modalRef.hide()"></button>
                        <button id="openmodal" #openmodal class="d-none" (click)="openModalx(template1)"></button>

                        <ng-template #template1>

                            <diV class="modal-header">
                                <h5 class="modal-title">Add Insurance/ISOS List</h5>
                                <button type="button" class="close pb-2  btn-round " data-dismiss="modal"
                                    aria-label="Close" (click)="modalRef.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </diV>
                            <div class="modal-body">
                                <div class="row tx-gray-700 ">
                                    <div class="col-12">
                                        <label for="basic-url" class="font-weight-bold"
                                            [ngClass]="check_el(inputText.broker_name) == true && submit_active == true ? 'text-error':'tx-gray-700'">Company
                                            Name</label>
                                        <span
                                            [ngClass]="check_el(inputText.broker_name) && submit_active == true ? 'text-error': 'span-mark'">&nbsp;*</span>
                                        <div class="input-group mb-3">
                                            <!-- <select class="form-control" disabled>
                                                    <option value="overseas" selected></option>
                                                </select> -->
                                            <input type="text"
                                                [ngClass]="check_el(inputText.broker_name) == true && submit_active == true ? 'border-error':'' "
                                                class="form-control" [(ngModel)]="inputText.broker_name">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="basic-url" class="font-weight-bold"
                                            [ngClass]="check_el(inputText.email) == true && submit_active == true ? 'text-error':'tx-gray-700'">E-mail</label>
                                        <span
                                            [ngClass]="check_el(inputText.email) && submit_active == true? 'text-error': 'span-mark'">&nbsp;*</span>
                                        <div class="input-group mb-3">
                                            <input type="email" class="form-control" id="basic-url"
                                                [ngClass]="check_el(inputText.email) == true && submit_active == true ? 'border-error':'' "
                                                [(ngModel)]="inputText.email" aria-describedby="basic-addon3">
                                        </div>
                                    </div>
                                    <div class="col-12 font-weight-bold pb-2">
                                        <input type="checkbox" [(ngModel)]="inputText.isos" /> <label class="px-1 tx-gray-700">&nbsp;ISOS</label> 
                                        &nbsp;&nbsp;<input type="checkbox" [(ngModel)]="inputText.insurance" /> <label class="px-1 tx-gray-700">&nbsp;Insurance</label> 
                                    </div>

                                </div>

                                <div class="col-12 px-0">
                                    <button *ngIf="TypeUpdate != true"
                                        class="btn btn-round   btn-min-width mr-1 mb-1 bg-top-pink  text-white"
                                        (click)="addrow()">
                                        Add
                                    </button>
                                    <button *ngIf="TypeUpdate"
                                        class="btn btn-round   btn-min-width mr-1 mb-1 bg-top-pink  text-white"
                                        (click)="Updatex()">
                                        Update
                                    </button>
                                    <button
                                        class="btn btn-round   btn-min-width mr-1 mb-1 bg-white pink border-pink  text-pink"
                                        (click)="Cancelx()">
                                        Cancel
                                    </button>
                                </div>

                            </div>

                        </ng-template>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>