<div class="box-contents">
    <h4 class="title-main"><i class="fa fa-university"></i>
        PART II : ESTIMATE EXPENSE</h4>
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-12 mb-1">
            <fieldset class="form-group">
                <!-- <label class="sub-title-input-layer">Employee ID<span class="span-mark">*</span> : </label> -->
                <label
                    class="sub-title-input-layer {{ ((statusValidate)&&(model.emp.emp_id.value == '')?'text-error':'') }}">Employee
                    ID <span class="span-mark">*</span> : </label>
                <!-- <input autocomplete="off" type="text" class="form-control" id="basicInput"> -->
                <ng-autocomplete [data]="model.emp.emp_id.list" [(ngModel)]="model.emp.emp_id.value"
                    [hidden]="(!buttons.save && !buttons.approve)" [searchKeyword]="'name'"
                    [itemTemplate]="itemTemplateID" [notFoundTemplate]="notFoundTemplateID"
                    [disabled]="model.edit_table || model.emp.emp_id.list.length === 0"
                    (selected)="onSelectEmp('id', $event)">
                </ng-autocomplete>

                <ng-template #itemTemplateID let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplateID let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
                <input type="text" class="form-control" [(ngModel)]="model.emp.emp_id.value"
                    [hidden]="(buttons.save && buttons.approve)" disabled>
            </fieldset>

        </div>
        <!-- <div class="col-xl-2 col-lg-2 col-md-12 mb-1">
            <fieldset class="form-group">
                <label class="sub-title-input-layer">Title : </label>
                <input autocomplete="off" type="text" class="form-control" id="basicInput">
            </fieldset>
        </div> -->
        <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
            <fieldset class="form-group">
                <!-- <label class="sub-title-input-layer">Employee Name<span class="span-mark">*</span> : </label> -->
                <label
                    class="sub-title-input-layer {{ ((statusValidate)&&(model.emp.emp_name.value == '')?'text-error':'') }}">Employee
                    Name <span class="span-mark">*</span> : </label>
                <ng-autocomplete [data]="model.emp.emp_name.list" [(ngModel)]="model.emp.emp_name.value"
                    [hidden]="(!buttons.save && !buttons.approve)" [searchKeyword]="'name'"
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                    [disabled]="model.edit_table || model.emp.emp_name.list.length === 0"
                    (selected)="onSelectEmp('name', $event)">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>

                    <a [innerHTML]="item.name"></a>

                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
                <input type="text" class="form-control" [(ngModel)]="model.emp.emp_name.value"
                    [hidden]="(buttons.save && buttons.approve)" disabled>
            </fieldset>



            <p class="txtDate">
                <span [hidden]="model.emp.business_date === '' || model.emp.emp_name.value == ''">Business date : {{
                    model.emp.business_date }}</span>
                <span [hidden]="model.emp.travel_date === '' || model.emp.emp_name.value == ''"> | Travel date : {{
                    model.emp.travel_date }}</span>
            </p>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
            <fieldset class="form-group">
                <label class="sub-title-input-layer">Organization Unit: </label>
                <input autocomplete="off" type="text" class="form-control" [(ngModel)]="model.emp.org" id="basicInput"
                    disabled>
            </fieldset>
        </div>
    </div>

    <hr>

    <!-- PANEL OVERSEA -->
    <div [hidden]="model.type != 'oversea' && model.type != 'overseatraining'">
        <div class="row margin-bottoms">
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Air Ticket : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput"
                        [disabled]="!buttons.save && !buttons.approve" [(ngModel)]="model.oversea.add_travel.air"
                        currencyMask [options]="inputFormat">
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Accommodation : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput"
                        [disabled]="!buttons.save && !buttons.approve" [(ngModel)]="model.oversea.add_travel.accom"
                        currencyMask [options]="inputFormat">
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Allowance : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput"
                        [disabled]="!buttons.save && !buttons.approve" [(ngModel)]="model.oversea.add_travel.allow"
                        currencyMask [options]="inputFormat">
                        <!--currencyMask [options]="inputFormat" (ngModelChange)="currencyFormat($event)"-->
                </fieldset>
                <p class="txtExchange">{{ model.ExchangeRatesDisplay }}</p>
                <!-- <p class="txtExchange">Exchange Rates as of XXXX : XX THB/USD(รอเชื่อมข้อมูล)</p> -->
            </div>
        </div>


        <div class="row margin-bottoms">
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">VISA Fee : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormat" [(ngModel)]="model.oversea.add_travel.visa_fee"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Travel Insurance : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormat" [(ngModel)]="model.oversea.add_travel.travel_insur"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Transportation : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormat" [(ngModel)]="model.oversea.add_travel.trans"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
        </div>

        <div class="row margin-bottoms">
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Passport: Valid Until</label>
                    <input autocomplete="off" type="text" class="form-control" id="txtPassportValid"
                        [value]="model.oversea.add_travel.passport_valid | date:'dd MMMM yyyy'" [disabled]="true">
                    <!-- <input autocomplete="off" type="text" placeholder="" class="form-control"
                        [(ngModel)]="model.oversea.add_travel.passport_valid"
                        [bsConfig]="{ dateInputFormat: 'DD MMM YYYY' }" bsDatepicker> -->
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Passport: Expense </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormat" [(ngModel)]="model.oversea.add_travel.passport_expense"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
        </div>
        <div class="row margin-bottoms">
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <!-- <fieldset class="form-group">
                    <label class="sub-title-input-layer">Clothing & luggage : Valid Until </label>
                    <ngx-select-dropdown [(ngModel)]="dropdownSearch.value" [multiple]="false"
                        [config]="dropdownSearch.config" [options]="dropdownSearch.list">
                    </ngx-select-dropdown>
                </fieldset> -->
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Luggage & Clothing : Valid Until </label>
                    <input autocomplete="off" type="text" class="form-control" id="txtLuggugeClothingValid"
                        [value]="model.oversea.add_travel.cloth_valid | date:'dd MMMM yyyy'" [disabled]="true">
                    <!-- <input autocomplete="off" type="text" placeholder="" class="form-control"
                        [(ngModel)]="model.oversea.add_travel.cloth_valid"
                        [bsConfig]="{ dateInputFormat: 'DD MMM YYYY' }" bsDatepicker> -->
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <!-- <fieldset class="form-group">
                    <label class="sub-title-input-layer">Clothing & luggage : Expense </label>
                    <ngx-select-dropdown [(ngModel)]="dropdownSearch.value" [multiple]="false"
                        [config]="dropdownSearch.config" [options]="dropdownSearch.list">
                    </ngx-select-dropdown>
                </fieldset> -->
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Clothing & Luggage : Expense </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormat" [(ngModel)]="model.oversea.add_travel.cloth_expense"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
                <!-- inputFormatInt -->
            </div>
        </div>

        <div class="row margin-bottoms">
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Registration Fee : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormat" [(ngModel)]="model.oversea.add_travel.regis_fee"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Miscellaneous : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormat" [(ngModel)]="model.oversea.add_travel.miscall"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
        </div>
    </div>

    <!-- PANEL LOCAL -->
    <div [hidden]="model.type != 'local' && model.type != 'localtraining'">
        <div class="row margin-bottoms">
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Air Ticket : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormatInt" [(ngModel)]="model.local.add_travel.air"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Accommodation : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormatInt" [(ngModel)]="model.local.add_travel.accom"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Allowance : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormatInt" [(ngModel)]="model.local.add_travel.allow_day"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
        </div>


        <div class="row margin-bottoms">
            <!-- <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Allowance in the night : </label>
                    <input autocomplete="off" type="text" class="form-control" currencyMask [options]="inputFormatInt" id="basicInput"
                        [(ngModel)]="model.local.add_travel.allow_night">
                </fieldset>
            </div> -->
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Registration Fee : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormatInt" [(ngModel)]="model.local.add_travel.regis_fee"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Transportation : </label>
                    <input autocomplete="off" type="text" class="form-control" currencyMask [options]="inputFormatInt"
                        id="basicInput" [(ngModel)]="model.local.add_travel.trans"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Miscellaneous : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask
                        [options]="inputFormatInt" [(ngModel)]="model.local.add_travel.miscall"
                        [disabled]="!buttons.save && !buttons.approve">
                </fieldset>
            </div>
        </div>

        <!-- <div class="row margin-bottoms">
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Miscellaneous : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput" currencyMask [options]="inputFormatInt"
                        [(ngModel)]="model.local.add_travel.miscall">
                </fieldset>
            </div>

        </div> -->

    </div>

    <button [hidden]="!model.oversea.add_travel.isAdd" type="submit" class="btn"
        ngClass="{{ buttons.save ? 'btn-add' : 'btn-add-disable' }}" [disabled]="!buttons.save && !buttons.approve"
        (click)="handleAddTravel('add')"><i class="ft-plus"></i> Add to Traveler List
        Summary Table</button>
    <button [hidden]="model.oversea.add_travel.isAdd" type="submit" class="btn btn-add"
        (click)="handleAddTravel('edit')"><i class="ft-plus"></i> Change</button>
    <button type="submit" class="btn " ngClass="{{ buttons.save ? 'btn-clear' : 'btn-clear-disable' }}"
        [disabled]="!buttons.save && !buttons.approve" (click)="handleAddTravel('clear')"><i class="ft-x"></i>
        Clear</button>

    <!-- Summary Table -->
    <mat-expansion-panel class="margin-top margin-bottoms" [expanded]="panel.summary">
        <mat-expansion-panel-header (click)="panel.summary = !panel.summary">
            <mat-panel-title>
                <mat-icon class="material-icons">filter_none</mat-icon>
                <mat-panel-description class="margin-left">
                    Traveler List Summary
                </mat-panel-description>
            </mat-panel-title>
        </mat-expansion-panel-header>


        <div class="scroll-hori">
            <!-- Table Oversea -->
            <table class="table table-bordered table-striped"
                [hidden]="model.type != 'oversea' && model.type != 'overseatraining'">
                <thead>
                    <tr class="text-center">
                        <th [style.maxWidth]="40 + 'px'" class="ml-0 mr-0 pl-0 pr-0 text-center">No.</th>
                        <th [style.minWidth]="260 + 'px'">Employee Name</th>
                        <th [style.minWidth]="160 + 'px'">Organization Unit</th>
                        <th [style.minWidth]="160 + 'px'">Country</th>
                        <th [style.minWidth]="220 + 'px'">Business Date</th>
                        <th [style.minWidth]="220 + 'px'">Travel Date</th>
                        <th>Air Ticket</th>
                        <th>Accommodation</th>
                        <th>Allowance</th>
                        <th>Clothing & Luggage</th>
                        <th>Passport</th>
                        <th>Visa Fee</th>
                        <th>Travel Insurance</th>
                        <th>Transportation</th>
                        <th>Registration Fee</th>
                        <th>Miscellaneous</th>
                        <th>Total Expenses</th>
                        <th [style.minWidth]="200 + 'px'">Remark</th>
                        <th class="headcol">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of model.oversea.table_travel ; index as i">
                        <td>{{ item.no }}</td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ formatStringCutPipe(item.emp_name) }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{
                                    formatStringCutPipe(item.emp_name) }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.emp_org }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.emp_org }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.country }}{{item.province}}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.country }}{{item.province}}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.business }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.business }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.travel }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.travel }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.air | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.air | number : '1.2-2'
                                    }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.acc | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.acc | number : '1.2-2'
                                    }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.allow | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.allow | number : '1.2-2'
                                    }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.cloth_expense | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.cloth_expense |
                                    number }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.passport_expense | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.passport_expense |
                                    number }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.visa_fee | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.visa_fee | number : '1.2-2'
                                    }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.travel_insur | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.travel_insur |
                                    number }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.trans | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.trans | number : '1.2-2'
                                    }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.regis_fee | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.regis_fee | number : '1.2-2'
                                    }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.miscall | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.miscall | number : '1.2-2'
                                    }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.total | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.total | number : '1.2-2'
                                    }}</span>
                            </div>
                        </td>
                        <td>
                            <!-- {{ item.remark }} -->
                            <div [hidden]="item.approve_status === '5' || item.approve_status === '4'">{{ item.remark }}
                            </div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.remark_opt }}</span>
                            </div>
                            <div [hidden]="item.approve_status != '4'"><span class="danger">{{ item.approve_remark
                                    }}</span>
                            </div>
                        </td>
                        <td class="text-center headcol">
                            <div
                                [hidden]="item.approve_status === '5' || item.approve_status === '2' || item.approve_status === '3'">
                                <i [hidden]="!item.status_edit" class="ft-edit icon-colors cursor-pointer"
                                    (click)="handleActionTravelerListSummary(i, 'edit')"></i>
                                <i [hidden]="!item.status_delete" class="ft-trash-2 icon-colors cursor-pointer"
                                    (click)="handleActionTravelerListSummary(i, 'trash')"></i>
                            </div>
                            <div [hidden]="item.approve_status != '5'">
                                <!-- <div class="badge badge-dangerX pt-2 cursor-pointer" matTooltip="Show details"
                                    (click)="showRemarkFlow(item.approve_remark)"></div> -->
                                <span class="">Reject</span>
                            </div>
                            <div [hidden]="item.approve_status != '2'">
                                <!-- <div class="badge badge-blueX pt-2 "></div> -->
                                <span class="">Pending</span>
                            </div>
                            <div [hidden]="item.approve_status != '3'">
                                <!-- <div class="badge badge-successX pt-2 "></div> -->
                                <span class="">Approved</span>
                            </div>
                        </td>
                    </tr>
                    <!-- <td class="text-center headcol">
                                <i class="ft-edit icon-colors" (click)="handleActionSummary('edit', i)"></i>
                                <i class="ft-trash-2 icon-colors" (click)="handleActionSummary('trash', i)"></i>
                            </td> -->
                </tbody>
            </table>

            <!-- Table Local -->
            <table class="table table-bordered table-striped"
                [hidden]="model.type != 'local' && model.type != 'localtraining'">
                <thead>
                    <tr class="text-center">
                        <!-- <th>No.</th>
                        <th>Employee Name</th>
                        <th>Organization Unit</th>
                        <th>Province/City</th>
                        <th>Business Date</th>
                        <th>Travel Date</th> -->
                        <th [style.maxWidth]="40 + 'px'" class="ml-0 mr-0 pl-0 pr-0 text-center">No.</th>
                        <th [style.minWidth]="260 + 'px'">Employee Name</th>
                        <th [style.minWidth]="160 + 'px'">Organization Unit</th>
                        <th [style.minWidth]="160 + 'px'">Country</th>
                        <th [style.minWidth]="220 + 'px'">Business Date</th>
                        <th [style.minWidth]="220 + 'px'">Travel Date</th>
                        <th>Air Ticket</th>
                        <th>Accommodation</th>
                        <th>Allowance</th>
                        <th>Transportation </th>
                        <th>Registration Fee</th>
                        <th>Miscellaneous</th>
                        <th>Total Expenses</th>
                        <th [style.minWidth]="200 + 'px'">Remark</th>
                        <th class="headcol">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of model.local.table_travel ; index as i">
                        <!-- [ngClass]="{' tx-gray-500':item.approve_status === '5'}" -->
                        <td>{{ item.no }}</td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ formatStringCutPipe(item.emp_name) }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{
                                    formatStringCutPipe(item.emp_name)
                                    }}</span></div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.emp_org }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.emp_org }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.province }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.province }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.business }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.business }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.travel }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.travel }}</span>
                            </div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.air | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.air | number : '1.2-2'
                                    }}</span></div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.acc | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.acc | number : '1.2-2'
                                    }}</span></div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.allow_day | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.allow_day | number : '1.2-2'
                                    }}</span></div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.trans | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.trans | number : '1.2-2'
                                    }}</span></div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.regis_fee | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.regis_fee | number : '1.2-2'
                                    }}</span></div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.miscall | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.miscall | number : '1.2-2'
                                    }}</span></div>
                        </td>
                        <td>
                            <div [hidden]="item.approve_status === '5'">{{ item.total | number : '1.2-2' }}</div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.total | number : '1.2-2'
                                    }}</span></div>
                        </td>
                        <!-- <td>{{ item.remark }}</td> -->
                        <td>
                            <div [hidden]="item.approve_status === '5' || item.approve_status === '4'">{{ item.remark }}
                            </div>
                            <div [hidden]="item.approve_status != '5'"><span class="danger">{{ item.remark_opt }}</span>
                            </div>
                            <div [hidden]="item.approve_status != '4'"><span class="danger">{{ item.approve_remark
                                    }}</span>
                            </div>
                        </td>
                        <td class="text-center headcol">
                            <div
                                [hidden]="item.approve_status === '5' || item.approve_status === '2' || item.approve_status === '3'">
                                <i [hidden]="!item.status_edit" class="ft-edit icon-colors cursor-pointer"
                                    (click)="handleActionTravelerListSummary(i, 'edit')"></i>
                                <i [hidden]="!item.status_delete" class="ft-trash-2 icon-colors cursor-pointer"
                                    (click)="handleActionTravelerListSummary(i, 'trash')"></i>

                                <!-- <div [hidden]="item.approve_status != '4'">
                                    <div class="badge badge-warning pt-2 cursor-pointer"><span class="">Revise</span>
                                    </div>
                                </div> -->

                            </div>
                            <div [hidden]="item.approve_status != '5'">
                                <!-- <div class="badge badge-dangerX pt-2 cursor-pointer" matTooltip="Show details"
                                    (click)="showRemarkFlow(item.approve_remark)"></div> -->
                                <span class="">Reject</span>
                            </div>
                            <div [hidden]="item.approve_status != '2'">
                                <!-- <div class="badge badge-blueX pt-2 "></div> -->
                                <span class="">Pending</span>
                            </div>
                            <div [hidden]="item.approve_status != '3'">
                                <!-- <div class="badge badge-successX pt-2 "></div> -->
                                <span class="">Approved</span>
                            </div>
                        </td>
                    </tr>
                    <!-- <td class="text-center headcol">
                                <i class="ft-edit icon-colors" (click)="handleActionSummary('edit', i)"></i>
                                <i class="ft-trash-2 icon-colors" (click)="handleActionSummary('trash', i)"></i>
                            </td> -->
                </tbody>
            </table>
        </div>

    </mat-expansion-panel>

    <div class="row icheck_minimal skin margin-bottoms d-none">
        <div class="col-md-12 col-sm-12">
            <!-- <fieldset>
                <input autocomplete="off" type="checkbox" id="Initiator-10" value="true">
                <label for="Initiator-10" style="margin-left: 3px;">Approval Line</label>
            </fieldset> -->
            <a (click)="
            hide.add_revice_approver = !hide.add_revice_approver ;
            panel.approval_list = !hide.add_revice_approver?true:false"><i class="fa fa-plus-circle"></i> Add/Revise
                Approver</a>
        </div>
    </div>

    <!-- Approval List -->
    <mat-expansion-panel class="margin-top margin-bottoms" [expanded]="panel.approval_list">
        <!-- [hidden]="hide.add_revice_approver" -->
        <mat-expansion-panel-header (click)="panel.approval_list = !panel.approval_list">
            <mat-panel-title>
                <mat-icon class="material-icons">sort</mat-icon>
                <mat-panel-description class="margin-left">
                    Add/Revise Approver
                </mat-panel-description>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Approval Line : </label>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                            <button (click)="selectTypeApprover('endorsed')"
                                [disabled]="(!buttons.save && !buttons.approve) || model.edit_approver"
                                class="btn {{ model.revice_add.approval_line == 'endorsed' ? 'btn-select' : 'btn-selected' }}">Endorsed
                                by</button>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-1">
                            <button (click)="selectTypeApprover('cap')"
                                [disabled]="(!buttons.save && !buttons.approve) || model.edit_approver"
                                class="btn  {{ model.revice_add.approval_line == 'cap' ? 'btn-select' : 'btn-selected' }}">CAP
                                Approved by</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label
                        class="sub-title-input-layer {{ ((statusValidateAdd)&&(model.revice_add.emp_id.value == '')?'text-error':'') }}">Employee
                        ID <span class="span-mark">*</span> : </label>
                    <!-- <label class="sub-title-input-layer">Employee
                        ID <span class="span-mark">*</span> : </label> -->
                    <ng-autocomplete [data]="model.revice_add.emp_id.list" [(ngModel)]="model.revice_add.emp_id.value"
                        [disabled]="!buttons.save && !buttons.approve" [searchKeyword]="'name'"
                        (inputChanged)='onSearchBehalfEmpID()' [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate" (selected)="onSelectedBehalfEmpID($event)">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </fieldset>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label
                        class="sub-title-input-layer {{ ((statusValidateAdd)&&(model.revice_add.emp_name.value == '')?'text-error':'') }}">Employee
                        Name <span class="span-mark">*</span> : </label>
                    <ng-autocomplete [data]="model.revice_add.emp_name.list"
                        [disabled]="!buttons.save && !buttons.approve" [(ngModel)]="model.revice_add.emp_name.value"
                        [searchKeyword]="'name'" (inputChanged)='onSearchBehalfEmpName($event)'
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                        (selected)="onSelectedBehalfEmpName($event)">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </fieldset>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 mb-1">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Organization
                        Unit : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput"
                        [(ngModel)]="model.revice_add.emp_org" disabled>
                </fieldset>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-12 " [hidden]="model.edit_approver">
                <fieldset class="form-group ">
                    <label class="sub-title-input-layer">For Traveler : </label>
                    <div class="input-group bootstrap-touchspin">
                        <ngx-select-dropdown style="width: 80%;" [(ngModel)]="model.revice_add.master_traveler.value"
                            [disabled]="(!buttons.save && !buttons.approve)" [multiple]="false"
                            [config]="model.revice_add.master_traveler.config"
                            [options]="model.revice_add.master_traveler.list"
                            (open)="panel.sts_dropdown_for_travel = true"
                            (close)="panel.sts_dropdown_for_travel = false" [hidden]="model.edit_approver">
                        </ngx-select-dropdown>
                        <div class="input-group-append btn-add-icon" (click)="handleActionForTravelerList('add')"
                            [hidden]="model.edit_approver">
                            <button class="btn" type="button" [disabled]="(!buttons.save && !buttons.approve)"><i
                                    class="ft-plus-circle"></i></button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-12 " [hidden]="!model.edit_approver">
                <label class="sub-title-input-layer">For Traveler : </label>
            </div>
        </div>
        <table class="table-add-revise mb-2" border="0">
            <tr *ngFor="let item of model.revice_add.traveler_list ; index as i">
                <td>
                    <span class="tx-14 tx-bold tx-gray-900">{{formatStringCutPipe(item.name)}}</span>
                </td>
                <td>

                    <i (click)="handleActionForTravelerList('trash', i)" class="fa fa-minus-circle"
                        [hidden]="model.edit_approver"></i>
                </td>
            </tr>
        </table>

        <button type="submit" [hidden]="!panel.revise_button_add" class="btn btn-add btn-min-width"
            [disabled]="!buttons.save && !buttons.approve" (click)="handleActionApprover('add')"><i class="ft-plus"></i>
            Add to Approver List Table</button>
        <button type="submit" [hidden]="panel.revise_button_add" class="btn btn-add btn-min-width"
            [disabled]="!buttons.save && !buttons.approve" (click)="handleActionApprover('edit')"><i
                class="ft-plus"></i> Change</button>
        <button type="submit" (click)="handleClearFormRevise()" class="btn btn-clear btn-min-width" [hidden]="model.edit_approver"
            [disabled]="!buttons.save && !buttons.approve"><i class="ft-x"></i>
            Clear</button>
        <button type="submit" (click)="cancelEditApprover()" class="btn btn-cancel btn-min-width" [hidden]="!model.edit_approver"
            [disabled]="!buttons.save && !buttons.approve"><i class="ft-x"></i>
            Cancel</button>
        <div *ngIf="panel.sts_dropdown_for_travel" style="height: 200px;"></div>

    </mat-expansion-panel>

    <!-- Summary Approval List -->
    <mat-expansion-panel class="margin-top margin-bottoms" [expanded]="panel.summary_approval_list">
        <mat-expansion-panel-header (click)="panel.summary_approval_list = !panel.summary_approval_list">
            <mat-panel-title>
                <mat-icon class="material-icons">collections_bookmark</mat-icon>
                <mat-panel-description class="margin-left">
                    Approver List
                </mat-panel-description>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="scroll-hori">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="text-center">
                        <th>No.</th>
                        <th>Employee Name</th>
                        <th>Organization Unit</th>
                        <!-- <th>Line Manager</th>
                        <th>Cap Manager</th> -->
                        <th>Approval List</th>
                        <th>Remark</th>
                        <th class="headcol">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of model.table_approver ; index as i">
                        <td>{{ i+1 }}</td>
                        <td>{{ formatStringCutPipe(item.emp_name) }}</td>
                        <td>{{ item.emp_org }}</td>
                        <td> {{ item.appr_name }}</td>
                        <td>{{ item.remark }}{{item.remark.toLocaleLowerCase() === "cap" ? item.approve_level : ''}}</td>
                        <td class="text-center headcol">
                            <div [hidden]="checkBtnApprove(item.emp_id)">
                                <div
                                    [hidden]="item.approve_status === '5' || item.approve_status === '2' || item.approve_status === '3' || item.approve_status === '6'">
                                    <i (click)="handleActionApproverShowTextToEdit('edit', i)"
                                        class="ft-edit icon-colors cursor-pointer"></i>
                                    <i (click)="handleActionApproverShowTextToEdit('trash', i)"
                                        class="ft-trash-2 icon-colors cursor-pointer"></i>
                                </div>
                                <div [hidden]="item.approve_status != '5'">
                                    <!-- <div class="badge badge-dangerX pt-2 cursor-pointer" matTooltip="Show details"
                                        (click)="showRemarkFlow(item.approve_remark)"></div> -->
                                    <span class="">Reject</span>
                                </div>
                                <div [hidden]="item.approve_status != '2'">
                                    <!-- <div class="badge badge-blueX pt-2 ">
                                    </div> -->
                                    <span class="">Pending</span>
                                </div>
                                <div [hidden]="item.approve_status != '3'">
                                    <!-- <div class="badge badge-successX pt-2 ">
                                    </div> -->
                                    <span class="">Approved</span>
                                </div>
                            </div>
                            <div [hidden]="!checkBtnApprove(item.emp_id)">
                                <div [hidden]="item.approve_status != '5'">
                                    <!-- <div class="badge badge-dangerX pt-2 cursor-pointer" matTooltip="Show details"
                                        (click)="showRemarkFlow(item.approve_remark)"></div> -->
                                    <span class="">Reject</span>
                                </div>
                                <div [hidden]="item.approve_status != '2'">
                                    <!-- <div class="badge badge-blueX pt-2 ">
                                    </div> -->
                                    <span class="">Pending</span>
                                </div>
                                <div [hidden]="item.approve_status != '3'">
                                    <!-- <div class="badge badge-successX pt-2 ">
                                    </div> -->
                                    <span class="">Approved</span>
                                </div>
                                <div [hidden]="item.approve_status != '6'">
                                    <span class="">Reject.</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- <td class="text-center headcol">
                                <i class="ft-edit icon-colors" (click)="handleActionSummary('edit', i)"></i>
                                <i class="ft-trash-2 icon-colors" (click)="handleActionSummary('trash', i)"></i>
                            </td> -->
                </tbody>
            </table>
        </div>
        <br>
        <!-- <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 mb-12">
                <fieldset class="form-group">
                    <label class="sub-title-input-layer">Remark : </label>
                    <input autocomplete="off" type="text" class="form-control" id="basicInput">
                </fieldset>
            </div>
        </div> -->
    </mat-expansion-panel>
    <br>
    <div class="row margin-top margin-bottoms">
        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
            <fieldset class="form-group">
                <input autocomplete="off" type="checkbox" id="input-111" value="true" [(ngModel)]="model.bugget"
                    [disabled]="!buttons.save && !buttons.approve">
                <label for="input-111" style="margin-left: 3px;" class="sub-title-input-layer">Budget is
                    allocated.</label>
            </fieldset>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
            <fieldset class="form-group">
                <input autocomplete="off" type="checkbox" id="input-121" value="true" [(ngModel)]="model.shall"
                    [disabled]="!buttons.save && !buttons.approve">
                <label for="input-121" style="margin-left: 3px;" class="sub-title-input-layer">Shall seek budget
                    approval from CEO.</label>
            </fieldset>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
            <fieldset class="form-group">
                <label class="sub-title-input-layer">Remark : </label>
                <input autocomplete="off" type="text" class="form-control" id="basicInput" [(ngModel)]="model.remark"
                    [disabled]="!buttons.save && !buttons.approve">
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 mb-1">
            <button (click)="handleActionPages(stateGlobal.save)" type="submit"
                class="btn-in-pink {{ buttons.save ? '' : 'oc'}}">Save</button>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 mb-1">
            <button (click)="handleActionPages(stateGlobal.cancel)" type="submit"
                class="btn-out-pink {{ buttons.cancel ? '' : 'oc'}}">Cancel</button>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 mb-1"></div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 mb-1">
            <button (click)="handleActionPages(stateGlobal.reject)" type="submit"
                class="btn-out-dark-blue {{ buttons.reject ? '' : 'oc'}}">Reject</button>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 mb-1">
            <button (click)="handleActionPages(stateGlobal.revise)" type="submit"
                class="btn-out-dark-blue {{ buttons.revise ? '' : 'oc'}}">Revise</button>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 mb-1">
            <button (click)="handleActionPages(stateGlobal.approve)" type="submit"
                class="btn-in-dark-blue {{ buttons.approve ? '' : 'oc'}}">Submit</button>
        </div>
    </div>
</div>