<div class="sidebar" [ngClass]="{ expanded: isExpanded }">
    <div class="header">
      <h1 class="title">Traveler Information</h1>
      <!-- <div class="toggle" (click)="handleSidebarToggle()">
        <span class="chevron"></span>
      </div> -->
    </div>
    <div class="content">
      <div class="link">
        <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">
          <div class="title">Air Ticket</div>
        </div>
      </div>
      <div class="content" [routerLink]="['/configuration']" [routerLinkActive]="'active'">
        <div class="title">Accommodation</div>
      </div>
      <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
        <div class="title">Allowance</div>
      </div>
      <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
        <div class="title">Reimbursement</div>
      </div>
      <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
        <div class="title">Transportation</div>
      </div>
      <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
        <div class="title">Travel Expense</div>
      </div>
      <div class="content" [routerLink]="['/bookings']" [routerLinkActive]="'active'">
        <div class="title">Feedback</div>
      </div>
    </div>
  </div>
  