.radiusX{

    background-color: white;
    border:1px solid rgb(206, 206, 206);
     border-radius: 16px;
 }
 
 .radiusXX{
 
     background-color: white;
     border:1px solid rgb(106, 255, 253);
      border-radius: 16px;
  }
 
 .delete_border{
     border-top: 0;
     border-left: 0;
     border-right: 0;
     border-bottom: 0;
 }
 
 #progressbar {
     margin-bottom: 30px;
     overflow: hidden;
     color: lightgrey
 }
 
 #progressbar .active {
     color: #000000
 }
 
 #progressbar li {
     list-style-type: none;
     font-size: 12px;
     width: 25%;
     float: left;
     position: relative;
     text-align: center;
     padding: 0px 2rem;
     z-index: 0;
 }
 
 #progressbar #time:before {
     font-family: FontAwesome;
     content: "\f00d";
     font-size: 26px;
    
 }
 
 #progressbar #pencil:before {
     font-family: FontAwesome;
     content: "\f040";
     font-size: 26px;
 }
 
 #progressbar #cog:before {
     font-family: FontAwesome;
     content: "\f013";
     font-size: 26px;
 }
 
 #progressbar #check:before {
     font-family: FontAwesome;
     content: "\f00c";
     font-size: 26px;
 }
 
 #progressbar li:before {
     width: 50px;
     height: 50px;
     line-height: 45px;
     display: block;
     font-size: 18px;
     color: #ffffff;
     background: lightgray;
     border-radius: 50%;
     margin: 0 auto 10px auto;
     padding: 2px;
     
 }
 
 #progressbar li:nth-child(1):after, #progressbar li:nth-child(2):after,
 #progressbar li:nth-child(3):after {
     content: '';
     width: 40%;
     height: 2px;
     background: lightgray;
     position: absolute;
     left: 80%;
     top: 25px;
     z-index: -1
 }
 
 #progressbar li.active:before {
     background: rgb(135, 235, 197)
 }
 
 /*
 .modal-backdrop { z-index: 700 !important;}
 .modal{ z-index: 900;}
 .cdk-overlay-container
 {
     z-index: 9999 !important;
 }
 */
 
 .modal{ 
     
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     z-index: 1050;
     display: none;
     overflow: hidden;
     outline: 0;
     
 }
 
 /* width */
 ::-webkit-scrollbar {
     width: 7px;
     height: 7px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
     background: #f1f1f1;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #888;
 }
 
     /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
         background: #08508C;
     }
 /* 
     #table_detail  tr th:nth-child(6), #table_detail  tr td:nth-child(6) {
         border:none;
         background-color:white;
 
          th:last-child,
 td:last-child,
 
        } */
 /*
 #table_detail tr th:nth-last-child(1),
 #table_detail tr td:nth-last-child(1) {
     border:none;
     background-color:white;
 }*/
 

 

 tbody tr:nth-child(2n+2) {
    background-color: #edfcf9;
  }
  
  tbody tr:nth-child(2n+2):hover {
    background-color: #e3eeec;
  }

  .table-wrapper{
    overflow-y: scroll;
    flex-grow: 1;
  }
  
  .table-wrapper th{
      background-color: white;
      position: sticky;
      top: 0;
  }
 
  /* .table-wrapper tr td:nth-last-child(1) {
    overflow-x: scroll;
    position: sticky;
    right:  0;
} */
 
 .text-error{
     color: rgb(255, 0, 0);
     font-weight: bold;
 }
 
 .span-mark{
     color: #E20F84;
     font-weight: bolder;
 }
 
 .sub-title-input-layer{
     color: rgb(121, 121, 121);
 }
 
/*  #ex tr th:nth-last-child(1),
 #ex tr td:nth-last-child(1) {
     border:none;
     background-color:white;
 } */
 
 .tx-color-top {
    color: #08508c;
  }
  .border-color-top {
    border-color: #08508c;
  }

  .scroll-hori { overflow-y: auto; height: 300px; }
.scroll-hori thead th { position: sticky; top: 0; z-index: 2;}
/*
  .headcol {
    z-index: 1;
    position: sticky;
    width: 5em;
    right: 0;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
    background-color: #eee;
  }
*/
  :required {
    background: rgb(255, 0, 0);
  }

  input:required {
    box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
  }

  input:required:focus {
    border: 1px solid red;
    outline: none;
  }

  input:required:hover {
    /* opacity: 0.5; */
    background-color: #E20F84;
  }

  .borderfield1{
    border: 1px solid red;
    outline: none;
    box-shadow: 2px 2px 8px rgba(200, 0, 0, 0.85);
  }

  .borderfield2{
    border: 1px solid rgb(8, 162, 0);
    outline: none;
    box-shadow: 2px 2px 8px rgba(8, 162, 0, 0.85);
  }