
.scroll-hori{
    overflow-x: scroll;
}

.icon-colors {
    color: #04528a;
    font-weight: bolder;
    margin-right: 10px;
}
.margin-bottoms {
    margin-bottom: 15px;
}
.margin-top {
    margin-top: 15px;
}
.text-error{
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.margin-left {
    margin-left: 10px;
}

.btn-select{
    width: 100%;
    background-color: #04528a;
    border-radius: 5px;
    color: white;
}
.btn-selected{
    width: 100%;
    border: 1px solid #04528a;
    background-color: white;
    color: #04528a;
}
.btn-opacity{
    background-color: red;
    border: 0px;
    color: #04528a;
}
.btn-add-icon{
    width: 14%;
    background-color: white;
    margin-left: 10px;
}
.btn-add-icon button {
    background-color: white;
    border: 0px;
}
.btn-add-icon button i {
    color: #04528a;
    font-weight: bolder;
    font-size: 20px;
}

.btn-in-pink {
    color: white;
    border: 0px;
    font-weight: bold;
    width: 100%;
    border-radius: 50px;
    background-color: #e20f84;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-out-pink {
    color: #e20f84;
    border: 1px solid #e20f84;
    font-weight: bold;
    width: 100%;
    border-radius: 50px;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}


.btn-add {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    font-weight: bold;
    color: #04528a;
    border-radius: 50px;
    border: 1px solid #04528a;
    background-color: white;

}

.btn-clear {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: #04528a;
    border-radius: 50px;
}
.title-type {
    font-weight: bold;
}
.title-main{
    color: #04528a;
    font-weight: bold;
}

.btn-in-dark-blue {
    color: white;
    border: 0px;
    font-weight: bold;
    width: 100%;
    border-radius: 50px;
    background-color: #04528A;
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-out-dark-blue {
    color: #04528A;
    border: 1px solid #04528A;
    font-weight: bold;
    width: 100%;
    border-radius: 50px;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

tr:nth-child(2n+2){
    background-color: #edfcf9;
}
.headcol {
    z-index: 1;
    position: sticky;
    width: 5em;
    right: 0;
    top: auto;
    border-top-width: 1px;
    margin-top: -1px;
    background-color: #eee;
  }

  .red { 
      color: red;
      font-weight: bolder;
  }

  .green {
      color: green;
      font-weight: bolder;
  }
  .oc {
    opacity: 0.2;
    cursor: not-allowed;
}