<div class="col-12" style="height: 350px" *ngIf="showContent" (window:keypress)="onKeyDown($event)">
  <div class="row math-height">
    <div class="col-lg-12">
      <div class="card box-shadow-1 mt-3">
        <div class="card-body m-0 p-0">
          <div class="row mx-0">
            <div class="col-12 col-md-6" style="min-height: 67px">
              <div class="marker marker-ribbon marker-top-blue pos-absolute mt-4 l-0 pl-5 pr-5">
                <p class="tx-24 m-0 text-uppercase">&#32;<i class="fa fa-usd"></i>&#32;reimbursement</p>
              </div>
            </div>
            <!-- **Display Name -->
            <div class="col-12 col-md-6">
              <div class="container px-0">
                <div class="text-center text-md-right mt-4 pr-4" *ngIf="!user_admin">
                  <p class="tx-24 m-0 tx-top-blue text-bold-500">
                    {{ this.user_display }}
                  </p>
                </div>

                <div class="mt-4 col-12 col-md-10 col-lg-8 ml-md-auto" *ngIf="user_admin">
                  <mat-select [(ngModel)]="list_emp" #select (selectionChange)="update_userByDOC(list_emp, select)" class="form-control line-height-2 tx-gray-700 text-bold-500" placeholder="Select">
                    <mat-option *ngFor="let topping of model_all.emp_list; let i = index" [value]="topping.emp_id">
                      {{ topping.userDisplay }}
                    </mat-option>
                  </mat-select>
                </div>
                <div class="text-right mt-4 pr-4" *ngIf="pathPhase1">
                  <span class="link-text">
                    <p class="tx-14 m-0 text-bold-500" (click)="OpenDocument(model_all.doc_id, pathPhase1)">
                      Document No: {{ model_all.doc_id }}
                    </p>
                    <i class="fa fa-external-link ml-1"></i>
                  </span>
                </div>
              </div>
            </div>
            <!-- **Display Name -->

            <div class="container px-0">
              <!-- ** Traveler Detail -->
              <div class="col-12">
                <div class="container border-bottom-3 border-bottom-grey-blue border-bottom-lighten-5 mb-4 py-4">
                  <div class="row no-gutters">
                    <p class="col-4 col-lg-2 col-md-2 tx-gray-700 tx-14 text-dark text-bold-500">Travel Topic :</p>
                    <p class="col-8 col-lg-10 col-md-10 tx-gray-700 tx-14 text-bold-500 text-capitalize">
                      {{ this.model_all.travel_topic }}
                    </p>
                    <p class="col-4 col-md-2 tx-gray-700 tx-14 text-dark text-bold-500">Business Date :</p>
                    <p class="col-8 col-md-4 tx-gray-700 tx-14 text-bold-500">
                      {{ this.model_all.business_date }}
                    </p>
                    <p class="col-4 col-md-2 offset-0 offset-md-1 tx-gray-700 tx-14 m-0 text-dark text-bold-500">
                      Travel Date :
                    </p>
                    <p class="col-8 col-md-4 tx-gray-700 tx-14 text-bold-500">
                      {{ this.model_all.travel_date }}
                    </p>

                    <p class="col-4 col-md-2 tx-gray-700 tx-14 text-dark text-bold-500">{{ TRAVEL_TYPE }}</p>
                    <p class="col-8 col-md-4 tx-gray-700 tx-14 text-bold-500">
                      {{ this.model_all.country_city }}
                    </p>
                    <p class="col-4 col-md-2 tx-gray-700 tx-14 text-dark text-bold-500">Total Traveler(s) :</p>
                    <p class="col-8 col-md-4 tx-gray-700 tx-14 text-bold-500">
                      {{ model_all.emp_list.length }} Person(s)
                    </p>
                  </div>
                </div>
              </div>
              <!-- ** Traveler Detail -->

              <!-- **Curent status -->
              <div class="col-12 py-3 mb-4">
                <div class="row justify-content-center align-items-baseline">
                  <ul id="progressbar" class="px-0 px-md-1 mb-0">
                    <li class="cursor-pointer" [ngClass]="{ active: docStatus(1) }" id="time"><strong></strong></li>
                    <li class="cursor-pointer" [ngClass]="{ active: docStatus(2) }" id="pencil"><strong></strong></li>
                    <li class="cursor-pointer" [ngClass]="{ active: docStatus(3) }" id="cog"><strong></strong></li>
                    <li class="cursor-pointer" [ngClass]="{ active: docStatus(4) }" id="check"><strong></strong></li>
                  </ul>
                </div>
              </div>
              <!-- **Curent status -->

              <!--** reimbursement Detail -->
              <div class="col-12">
                <div class="container">
                  <div class="card box-shadow-1 radiusX mb-0">
                    <div class="card-body">
                      <div class="col-12 px-0" *ngIf="model_all.reimbursement_detail.length > 0">
                        <div class="table-responsive my-2 scroll-hori" style="max-height: 350px; max-width: 100%">
                          <table class="table table table-striped table-hover table-bordered" id="table_detail">
                            <thead>
                              <tr class="text-center font-weight-bold tx-14 tx-gray-700">
                                <!-- <th *ngFor="let item of reimbursement_t_header;"
                                                                    [ngClass]="'text-center font-weight-bold tx-14 tx-gray-700'">
                                                                    {{item.col}}
                                                                </th> -->
                                <th style="width: 280px; width: 10%">Date</th>
                                <th style="width: 280px; width: 20%">Details</th>
                                <th style="width: 280px; width: 20%" [hidden]="TRAVEL_LOCAL">Exchange Rate</th>
                                <th style="width: 280px; width: 15%">Total</th>
                                <th style="width: 280px; width: 15%">Grand Total(THB)</th>
                                <th style="min-width: 200px; width: 15%">Noted</th>
                                <th style="width: 40px; width: 5%"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of get_data(); let i = index" [hidden]="item.action_type == 'delete'">
                                <td>
                                  <input type="text" [(ngModel)]="item.reimbursement_date_type" bsDatepicker (ngModelChange)="
                                      [
                                        (item.reimbursement_date = reimbursement_date_val.value),
                                        (item.action_change = 'true')
                                      ]
                                    " (change)="
                                      reimbursement_date_val.value === 'Invalid date' && [
                                        (reimbursement_date_val.value = ''),
                                        (item.reimbursement_date_type = '')
                                      ]
                                    " #reimbursement_date_val [disabled]="!user_reject" [bsConfig]="{ dateInputFormat: 'DD MMM YYYY', showWeekNumbers: false }" class="form-control mn-100-px text-center h-50 width-auto" />
                                </td>
                                <td>
                                  <input type="text" [(ngModel)]="item.details" (ngModelChange)="item.action_change = 'true'" [disabled]="!user_reject" class="form-control mn-150-px text-center h-50 width-auto" />
                                </td>
                                <td [hidden]="TRAVEL_LOCAL">
                                  <input type="text" [(ngModel)]="item.exchange_rate" (ngModelChange)="item.action_change = 'true'" [disabled]="!user_reject" (click)="openModal(template, item.emp_id, item.id)" class="form-control mn-100-px text-center h-50 mx-auto" style="max-width: 50px" *ngIf="false" />
                                  <div class="d-flex justify-content-around">
                                    <div class="flex-grow-1">
                                      <span>
                                        {{
                                        item.exchange_rate === null || item.exchange_rate === ''
                                        ? 'N/A'
                                        : ((item.exchange_rate | number:'1.'+disgitEbiz+'-'+disgitEbiz+'') + ' ' +item.currency)
                                        }}

                                      </span>
                                    </div>
                                    <div class="flex-grow-0">
                                      <span class="material-icons-outlined tx-16 cursor-pointer" (click)="user_reject && openModal(template, item.emp_id, item.id)">
                                        mode_edit
                                      </span>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <input type="text" [(ngModel)]="item.total" (change)="item.action_change = 'true'" [disabled]="!user_reject" #totalValue (ngModelChange)="item.total = convertInt('total', item, item.total,totalValue)" (keypress)="onlyNumberKey($event)" class="form-control mn-100-px text-center h-50" />
                                </td>
                                <td>
                                  <input type="text" [(ngModel)]="item.grand_total" (change)="[(item.action_change = 'true')]" [disabled]="!user_reject" #inputgrand_total (ngModelChange)="item.grand_total = convertInt('grand_total', i, item.grand_total,inputgrand_total)" (keypress)="onlyNumberKey($event)" class="form-control mn-100-px text-center h-50" />
                                </td>
                                <td>
                                  <!--  -->
                                  <input type="text" #remark_v [ngModel]="item.Remark_X" (change)="item.action_change = 'true'" (ngModelChange)="test_valuesX(item.id, remark_v.value)" [disabled]="!user_reject" class="form-control mn-80-px text-center h-50" />
                                </td>

                                <td>
                                  <div class="d-flex justify-content-end flex-row-reverse">
                                    <span (click)="new_row(item.id, item.doc_id)" *ngIf="get_data().length - 1 == i && user_reject"><i class="cursor-pointer fa fa-plus-circle success" aria-hidden="true"> </i></span>
                                    <span class="mr-1" *ngIf="user_reject" (click)="del_row(item.id, item.doc_id)">
                                      <i class="cursor-pointer fa fa-minus-circle danger" aria-hidden="true"></i>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="row mt-3">
                          <div class="col-lg-12 col-md-12">
                            <div class="">
                              <!-- //!! กรณีที่ต้องทำ excel to json ส่งไปหลังบ้าน -->
                              <input type="file" id="file_id1" [class.d-none]="true" (change)="[onFileChange($event), (file1.value)]" #file1 />
                              <!-- //!! กรณีที่ต้องทำ excel to json ส่งไปหลังบ้าน -->
                              <input type="file" id="file_id" class="d-none" accept="file_extension" (change)="onFileSelect($event)" #file />

                              <button class="btn btn-round btn-min-width bg-top-blue" style="color: white" (click)="file.click()" [class.cursor-not-allowed]="!user_reject" [disabled]="!user_reject">
                                Upload
                              </button>

                              <!-- *ngFor="let item of get_data_img()" -->
                              <div class="pb-1 ml-0 my-1" *ngFor="let item of model_all.img_list; let i = index" [hidden]="item.filename == null || item.filename == ''" [ngClass]="check_action(item) ? 'd-none' : 'd-flex align-items-start'">
                                <ng-container *ngIf="item.action_type != 'delete' && item.emp_id == emp_id">
                                  <i class="material-icons tx-16 tx-top-blue tx-bold">attach_file</i>
                                  <a class="mx-2 text-primary txunderline text-bold-600 cursor-default" target="_blank" id="filename" (click)="downloadFile(item.path + item.filename, item.filename)">{{ item.filename }}</a>
                                  <span>
                                    <i class="cursor-pointer fa fa-minus-circle danger" *ngIf="user_reject" (click)="Delete_file(item)"></i>
                                  </span>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <mat-expansion-panel class="margin-top margin-bottoms my-3" [expanded]="panel.show" hideToggle="false" *ngIf="user_admin && false">
                        <mat-expansion-panel-header (click)="panel.show = !panel.show" class="border-bottom-2">
                          <mat-panel-title>
                            <mat-panel-description class="d-flex pb-1 justify-content-start align-items-center">
                              <mat-icon class="material-icons">file_copy</mat-icon>
                              <h5 class="px-2 tx-gray-700">Reimbursement Table</h5>

                              <!-- <mat-icon *ngIf="!panel.show" class="ml-auto tx-70">arrow_drop_up
                                                    </mat-icon>
                                                    <mat-icon *ngIf="panel.show" class="ml-auto tx-70">arrow_drop_down
                                                    </mat-icon> -->
                            </mat-panel-description>
                          </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="table-responsive my-3 scroll-hori" style="max-height: 250px">
                          <table class="table table table-hover table-striped table-bordered border-3">
                            <thead>
                              <tr>
                                <th *ngFor="let item of reimbursement_t_header" [ngClass]="'text-center py-4 font-weight-bold tx-14 tx-gray-700'">
                                  {{ item.col }}
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of model_all.reimbursement_detail; let i = index" [hidden]="item.action_type == 'delete'">
                                <td class="width-15-per text-center">
                                  {{ item.reimbursement_date }}
                                </td>
                                <td class="width-20-per text-center">
                                  {{ item.details }}
                                </td>
                                <td class="text-center">
                                  {{ item.exchange_rate }}
                                </td>
                                <td class="text-center">
                                  {{ item.total.replace(',', '') | number }}
                                </td>
                                <td class="text-center">
                                  {{ item.grand_total.replace(',', '') | number }}
                                </td>
                                <td class="text-center">
                                  {{ item.remark }}
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2"></td>
                                <td colspan="2" class="text-right font-weight-bold tx-14 tx-gray-700 border-0" style="border: 1px solid #dee2e600">
                                  TOTAL ALLOWANCE
                                </td>
                                <td colspan="2" class="text-left font-weight-bold tx-14 tx-gray-700">
                                  {{ calTotal() | currency: '$ ' }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </mat-expansion-panel>
                    </div>
                  </div>

                  <!-- **ROW BUTTON -->
                  <div class="row my-3 px-0 mx-0 mx-md-0 gap">
                    <ng-container *ngIf="user_reject">
                      <div class="d-flex flex-wrap gap-2">
                        <button class="btn btn-round btn-min-width bg-top-pink text-white font-weight-bold" (click)="ConfrimSave()">
                          Save
                        </button>
                        <button class="btn btn-round btn-min-width bg-white pink border-pink text-pink font-weight-bold" (click)="btnCencel_Onclick()">
                          Cancel
                        </button>
                        <button class="btn btn-round btn-min-width bg-white border-color-top tx-color-top font-weight-bold" (click)="OpenModal_Mail(template_mail)">
                          Send E-mail
                        </button>
                        <button class="btn btn-round btn-min-width bg-top-blue text-white font-weight-bold" (click)="OpenModal_Export(template_export)">
                          Export
                        </button>
                      </div>
                    </ng-container>
                  </div>
                  
                  <!-- **ROW BUTTON -->
                </div>
              </div>
              <!--** reimbursement Detail -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-body">
    <div class="row justify-content-start" *ngIf="model_all.reimbursement_detail as detail">
      <div class="col-12">
        <button type="button" class="close pb-2" data-dismiss="modal" aria-label="Close" (click)="modal_hide()">
          <span aria-hidden="true" style="color: red">&times;</span>
        </button>
      </div>

      <div class="col-lg-12">
        <div class="row mx-0 mx-md-5 mb-1">
          <div class="form-group col-lg-6 col-sm-12 mb-md-1">
            <label for="my-input" class="tx-14 tx-gray-700 font-weight-bold">Currency:</label>
            <div class="input-group">
              <!-- (ngModelChange)="Search_Exchange_rate()"> -->
              <select name="" id="" class="form-control form-control-lg tx-14" #currency [(ngModel)]="Exchange_value.currency_id" (ngModelChange)="RateChang($event)">
                <option disabled value="">-Select-</option>
                <option *ngFor="let item of order_by_list(model_all.m_currency)" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group col-lg-6 col-sm-12 mb-md-1">
            <label for="my-input" class="tx-14 tx-gray-700 font-weight-bold"> As of :</label>
            <div class="form-group position-relative has-icon-right">
              <input type="text" class="form-control" #As_of id="As_of" bsDatepicker [(ngModel)]="Exchange_value.as_of_type" [bsConfig]="{ dateInputFormat: 'DD MMM YYYY', showWeekNumbers: false }" (ngModelChange)="ChangeASOF(As_of)" />
              <!-- (ngModelChange)="Search_Exchange_rate()"> -->
              <label class="form-control-position" for="As_of">
                <i class="material-icons tx-top-blue cursor-pointer">today</i>
              </label>
            </div>
          </div>
          <div class="form-group col-lg-12 col-sm-12">
            <label for="my-input" class="tx-14 tx-gray-700 font-weight-bold">Exchange Rate:</label>
            <div class="input-group">
              <!-- (ngModelChange)="numberWithCommas($event)" -->
              <input type="text" class="form-control" #Exchange_rate_value id="Exchange_rate_value" (ngModelChange)="numberWithCommas($event, Exchange_rate_value)" (keypress)="onlyNumberKey($event)" [(ngModel)]="Exchange_value.Exchange_rate_selected" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-start mx-5">
      <div class="col-12 col-md-3">
        <button type="button" class="btn btn-md btn-round bg-top-blue py-2 white btn-block font-weight-bold tx-14" (click)="Update_Exchange_rate('x')" data-dismiss="modal" aria-label="Close">
          Save
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Modal 1 -->
<ng-template #template_mail>
  <div class="modal-header">
    <span class="modal-title tx-20" id="my-modal-title"><i class="fa fa fa-envelope px-1"></i> Send E-mail </span>
    <button class="close" style="color: red" (click)="[(MailListCC = []), (MailList = []), modal_Ref_mail.hide(), (status_Filter = false)]">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" *ngIf="model_all.mail_list.length > 0">
      <div class="col-12">
        <!-- Mail TO -->
        <div class="form-group">
          <mat-form-field class="w-100">
            <mat-label>TO</mat-label>

            <mat-chip-listbox #chipList [selectable]="selectable">
              <mat-chip *ngFor="let EmpList of MailList; let indx = index"  [removable]="removable" (removed)="remove(EmpList, indx, 'to')">
                {{ EmpList.displayname }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="username@thaioilgroup.com" matInput #fInput />
              <!-- <input placeholder="username@thaioilgroup.com" matInput #fInput [formControl]="fCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, 'to')" [(ngModel)]="inputText" (ngModelChange)="doFilter('inputText')" (blur)="addOnBlurInput($event, fInput, 'to')" /> -->
              <!-- [ngModelOptions]="{ updateOn: 'blur' }" -->
            </mat-chip-listbox>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="[selected($event, 'to'), (fInput.value = '')]">
              <mat-option *ngFor="let EmpList of filteredEmp | async" [value]="EmpList" [hidden]="!CheckData(fInput.value)">
                {{ displayName(EmpList) }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!-- Mail TO -->

        <!-- MailCC -->
        <div class="form-group">
          <mat-form-field class="w-100">
            <mat-label>CC</mat-label>

            <mat-chip-listbox #chipListCC [selectable]="selectable">
              <mat-chip *ngFor="let EmpList of MailListCC; let indx = index"  [removable]="removable" (removed)="remove(EmpList, indx, 'cc')">
                {{ EmpList.displayname }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="username@thaioilgroup.com" type="email" matInput #fInputcc />
              <!-- <input placeholder="username@thaioilgroup.com" type="email" matInput #fInputcc [formControl]="fCtrlCC" [matAutocomplete]="autoCC" [matChipInputFor]="chipListCC" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event, 'cc')" [(ngModel)]="inputTextCC" (ngModelChange)="doFilter('inputTextCC')" (blur)="addOnBlurInput($event, fInputcc, 'cc')" /> -->
            </mat-chip-listbox>
            <mat-autocomplete #autoCC="matAutocomplete" (optionSelected)="[selected($event, 'cc'), (fInputcc.value = '')]">
              <mat-option *ngFor="let EmpList of filteredEmpCC | async" [value]="EmpList" [hidden]="!CheckData(fInputcc.value)">
                {{ displayName(EmpList) }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!-- MailCC -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-12 px-0">
      <button class="btn btn-round btn-top text-bold-500 btn-min-width" (click)="Config_Email_Send()" style="color: white">
        Send
      </button>
    </div>
  </div>
</ng-template>
<!-- Modal Export -->

<ng-template #template_export>
  <div class="modal-header">
    <span class="modal-title tx-20" id="my-modal-title">
      <i class="material-icons tx-bold tx-20">content_copy</i>
      Preview Excel
    </span>
    <button class="close" style="color: red" (click)="modal_Ref_Export.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body col-12 table-responsive">
    <!-- <button class="btn btn-block btn-blue col-2" (click)="exportexcel()">EXPORT EXCEL</button> -->

    <table border="0" bordercolor="black" id="excel-table" class="mt-1 table" *ngIf="data_export.length > 0">
      <tr></tr>
      <tr class="font-size-large text-center border-0">
        <th colspan="5" rowspan="2" class="text-center border-0 tx-18" style="height: 70px">Reimbursement Form</th>
      </tr>

      <tr></tr>
      <tr class="border-0">
        <th class="border-0 tx-16">Business Title :</th>
        <th class="border-0 tx-16 font-weight-normal" colspan="4">{{ model_all.travel_topic }}</th>
      </tr>
      <tr>
        <th class="border-0 tx-16">Duration :</th>
        <th class="border-0 tx-16 font-weight-normal" colspan="4">{{ model_all.travel_date }}</th>
      </tr>
      <tr>
        <th class="border-0 tx-16">Country :</th>
        <th class="border-0 tx-16 font-weight-normal" colspan="4">{{ model_all.country_city }}</th>
      </tr>
      <tr>
        <th class="border-0 tx-16">Name :</th>
        <th class="border-0 tx-16 font-weight-normal" colspan="4">{{ userDisplay }}</th>
      </tr>
      <tr class="text-center border-2">
        <th>Date</th>
        <th>Particulars</th>
        <th>Total</th>
        <th>Rate</th>
        <th>Total (THB)</th>
      </tr>

      <tbody>
        <tr class="border-double" *ngFor="let item of data_export">
          <td>{{ item.Date !== '-' ? (item.Date | date: 'dd/MM/yyyy') : '-' }}</td>
          <td>{{ item.Particulars }}</td>
          <td>{{ convert_format(item['Total'].replace(',', '')) + ' ' + item.Currency }}</td>
          <td>{{ item['Rate'] !== '-' ? (item['Rate'] | number:'1.'+disgitEbiz+'-'+disgitEbiz+'') : item['Rate'] }}</td>
          <td>{{ item['Total (THB)'] !== '-' ? (item['Total (THB)'].replace(',', '') | number:'1.'+disgitEbiz+'-'+disgitEbiz+'') : item['Total (THB)']}} </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"></td>
          <td class="text-center font-weight-bold">Total</td>
          <td class="text-center font-weight-normal">{{ caltotal(data_export, 'Total (THB)') | number:'1.'+disgitEbiz+'-'+disgitEbiz+'' }}&nbsp;THB</td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="modal-footer justify-content-start">
    <!-- <button class="btn btn-block btn-blue col-2" (click)="exportexcel()">EXPORT EXCEL</button> -->
    <button class="btn-top btn btn-round btn-min-width tx-14 text-white" (click)="exportexcel('download')">
      Download File Excel
    </button>
  </div>
</ng-template>