

.card {
    margin-top: 25vh; 
    margin-left: 60vh;
    max-width: 400px; 
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .card-header {
    background-color: white;
    padding-top: 30px;
  }
  
  .card-title {
    text-align: center;
  }
  
  .card-body {
    padding: 20px; 
  }
  
  .form-group {
    margin-bottom: 20px; 

  }
  
  .btn-login, .btn-login-auto {
    width: 250px; 
    height: 30px;
    border-radius: 5px;
    background-color: #04528a;
    color: white;
  }

  /* .content-body {
    align-content: center;
        overflow: hidden;
  } */


  
  