#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  padding: 0px 2rem;
  z-index: 0;
}

#progressbar #time:before {
  font-family: FontAwesome;
  content: '\f00d';
  font-size: 24px;
}

#progressbar #pencil:before {
  font-family: FontAwesome;
  content: '\f040';
  font-size: 24px;
}

#progressbar #cog:before {
  font-family: FontAwesome;
  content: '\f013';
  font-size: 24px;
}

#progressbar #check:before {
  font-family: FontAwesome;
  content: '\f00c';
  font-size: 24px;
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 0px auto;
  padding: 2px;
}

#progressbar li:nth-child(1):after,
#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
  content: '';
  width: 40%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 80%;
  top: 25px;
  z-index: -1;
}
/*!! //สีตาม track Status */
/* 1.not start = NS >> #969696
2.Traveler = T (USER) >> #f1c40f
3.Business = B (ADMIN) >> #3498db
4.Complete = C >> #19b092 */
#progressbar li#time.active:before {
  background: #969696;
}
#progressbar li#pencil.active:before {
  background: #f1c40f;
}
#progressbar li#cog.active:before {
  background: #3498db;
}
#progressbar li#check.active:before {
  background: #19b092;
}
/*
     /*!! //สีตาม track Status */

.cdk-overlay-container {
  z-index: 9999 !important;
}
.scroll-hori {
  overflow-y: auto;
  max-height: 300px;
}
.scroll-hori thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}
.radiusX {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 16px;
}

tbody tr:nth-child(2n + 2) {
  background-color: #edfcf9;
}

tbody tr:nth-child(2n + 2):hover {
  background-color: #e3eeec;
}

#table_detail tr td {
  text-align: center;
}
#table_detail tr th:nth-last-child(1),
#table_detail tr td:nth-last-child(1) {
  border: none;
  background-color: white;
}

input::placeholder {
  color: #ccc;
}
#centerline:after {
  content: '';
  width: 3%;
  height: 1px;
  font-weight: 500;
  background: black;
  top: 75%;
  left: 98%;
  z-index: 1;
  position: absolute;
}
.text-underline {
  text-decoration: underline;
}
a.txunderline {
  text-decoration: underline;
}

.modal-backdrop {
  z-index: 700 !important;
}
.modal {
  z-index: 900;
}
.tx-color-top {
  color: #08508c;
}
.border-color-top {
  border-color: #08508c;
}
.cdk-overlay-pane {
  margin-top: 30px !important;
}
.pb-px-1 {
  padding-bottom: 1px !important;
}
.modal-backdrop {
  z-index: 800 !important;
}

.btn-outline-blue:hover {
  background-color: #08508c;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
.scroll-hori thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 4px 8px;
}
th,
tr > th {
  background: white;
  vertical-align: middle;
}
thead tr,
tbody tr {
  height: 36px !important;
  max-height: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08508c;
}
/* #Already_Booked .ngx-dropdown-container .ngx-dropdown-list-container {
    min-width: 200px !important;
    width: 100% !important;
    max-width: 100% !important;
  } */
.btn-top:disabled:is(:hover) {
  cursor: not-allowed;
  border-color: #08508c !important;
  background-color: #08508c !important;
  color: #fff !important;
}
.mn-100-px {
  min-width: 100px;
}
.mn-150-px {
  min-width: 120px;
}
.wm-80pxx {
  min-width: 80px;
  width: 80px;
  max-width: 50%;
}
.none_focus :focus {
  border: transparent;
}
/* //width sm */
@media only screen and (max-width: 767px) {
  .gap {
    justify-content: center;
  }
  .btn-min-width {
    width: 45%;
  }
}
@media only screen and (max-width: 575px) {
  #progressbar li:nth-child(1):after,
  #progressbar li:nth-child(2):after,
  #progressbar li:nth-child(3):after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 75%;
    top: 25px;
    z-index: -1;
  }
  #progressbar li {
    padding: 0px 1rem;
  }
  .wm-80pxx {
    min-width: 80px;
    width: 80px;
    max-width: 150px;
  }
  .p-sm-0 {
    padding: 0px;
  }
  .tx-24 {
    font-size: 22px;
  }
  .tx-24-sm {
    font-size: 18px;
  }

  .tx-14 {
    font-size: 0.75rem;
  }
  .btn-min-width {
    width: 100%;
  }
}

.gap {
  gap: 0.5em;
}

:host ::ng-deep .ngx-dropdown-container .ngx-dropdown-button {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 35.5px !important;
  /* min-height:35px */
}

/* :host ::ng-deep .ngx-dropdown-container .ngx-dropdown-list-container {
  min-width: 250px !important ;
  
  max-width: 400px !important;
} */

/* :host ::ng-deep .ngx-dropdown-container {
  background-color: red !important;
} */

.form-control[readonly] {
  background-color: #ffffff;
  opacity: 1;
}

:host ::ng-deep .ngx-dropdown-container .ngx-dropdown-button {
  background-color: red !important;
  color: #08508c;
}
.max-height-select {
  max-height: 40px;
}
.link-text {
  color: #e21683;
  cursor: pointer !important;
  display: -webkit-inline-box;
}
.link-text > p {
  text-decoration: underline;
}
.link-text:hover {
  color: #04528a;
}
