<!-- <p>mtfeedbackquestion works!</p> -->
<div
  class="col-12 boxcolor-mm background-Slide animate__animated animate__fadeIn"
  style="height: 350px"
  (window:keypress)="onKeyDown($event)"
  (window:resize)="onResize($event)"
>
  <div class="row math-height">
    <div class="col-lg-12">
      <div class="card box-shadow-1 mt-3">
        <div class="card-body m-0 p-0">
          <div class="row mx-0">
            <div class="col-12 col-md-6 col-lg-6" style="min-height: 67px">
              <div class="marker marker-ribbon marker-top-blue pos-absolute mt-4 l-0 pl-5 pr-5">
                <p class="tx-24 font-header-input m-0 text-uppercase d-flex align-items-center">&#32;&#32; feedback</p>
              </div>
            </div>
            <button class="d-none" #closeModel (click)="swich_user(1)"></button>
            <div class="col-12 col-md-6 col-lg-6 pr-0 mr-0"></div>
            <div class="col-12 mt-4">
              <nav mat-tab-nav-bar>
                <a
                  mat-tab-link
                  [active]="mat_tab_selected.feedback_type"
                  (click)="update_mat_tab('feedback_type', tabRef)"
                >
                  Feedback Type
                </a>
                <a
                  mat-tab-link
                  [active]="mat_tab_selected.feedback_topic"
                  (click)="update_mat_tab('feedback_topic', tabRef)"
                >
                  Feedback Topic
                </a>
                <a
                  mat-tab-link
                  [active]="mat_tab_selected.feedback_question"
                  (click)="update_mat_tab('feedback_question', tabRef)"
                >
                  Feedback Questions
                </a>
              </nav>
            </div>
            <div class="col-12">
              <mat-tab-group #tabRef class="border-0">
                <mat-tab label="Feedback Type" (click)="x_text = 'Feedback Type'">
                  <div class="container-fluid">
                    <div class="row flex-column my-3">
                      <div class="card border-0">
                        <div class="card-header bg-white border-0 pb-0">
                          <h3 class="p-2 XfontKanit tx-gray-700 tx-18 text-bold-500 text-underline">Feedback Type</h3>

                          <div class="row mx-0 mt-3 align-items-start">
                            <button
                              class="btn btn-top btn-round btn-min-width mr-1 mb-1 text-bold-500 tx-14 text-white"
                              (click)="openModal(template1)"
                            >
                              New Item
                            </button>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="table-responsive my-2 scroll-hori" style="max-height: 350px">
                            <table id="table_detail" class="table table-bordered table-striped table-hover border-0">
                              <thead class="tx-gray-700 text-center">
                                <tr>
                                  <th class="col_number">No</th>
                                  <th>Type of Travel</th>
                                  <!-- <th class="width-10-per">Status</th> -->
                                  <th class="w-auto headcol">Active/Edit/Delete</th>
                                </tr>
                              </thead>
                              <tbody class="border-0" *ngIf="model_all.type_feedback.length > 0">
                                <tr
                                  *ngFor="
                                    let item of DataBYTYPEID(model_all.type_feedback, '0', 'master_type');
                                    let i = index
                                  "
                                >
                                  <td class="text-center">
                                    {{ i + 1 }}
                                  </td>
                                  <td>
                                    {{ item.name }}
                                  </td>
                                  <td class="text-center headcol tx-gray-700">
                                    <div class="example-button-row" style="max-height: 40px">
                                      <div class="d-flex justify-content-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                          <input
                                            type="checkbox"
                                            #check_active
                                            [(ngModel)]="item.statusTF"
                                            (ngModelChange)="change_status('type', item)"
                                          />
                                        </div>
                                        <div class="d-flex justify-content-center mx-2 align-items-center">
                                          <mat-icon class="cursor-pointer" (click)="selected_type_now(item, template1)">
                                            edit
                                          </mat-icon>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                          <mat-icon class="cursor-pointer" (click)="delete_row_type(item)">
                                            delete_forever</mat-icon
                                          >
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>

                <mat-tab label="Feedback Topic" (click)="x_text = 'Feedback Topic'">
                  <div class="container-fluid mt-2">
                    <div class="row flex-column my-3">
                      <div class="card bg-white border-0 pb-0 mb-0">
                        <div class="card-header bg-white border-0">
                          <h3 class="p-2 XfontKanit tx-gray-700 tx-18 text-bold-500 text-underline">Feedback Type</h3>
                        </div>

                        <div
                          class="d-flex flex-wrap align-items-center border-2 border-white"
                          style="min-height: 180px"
                          [ngClass]="{
                            'justify-content-start':
                              model_all.type_feedback.length > 2 || model_all.type_feedback.length == 1,
                            'justify-content-center': model_all.type_feedback.length <= 2
                          }"
                        >
                          <div class="col-12 col-md-5 col-lg-4" *ngFor="let item of model_all.type_feedback">
                            <div
                              class="card box-shadow-2 rounded-20 pt-4"
                              [ngClass]="{
                                'mt-border-success animate__animated animate__fadeIn':
                                  feedback_type_id_selected == item.id
                              }"
                              style="min-height: 100px"
                            >
                              <div class="row justify-content-center">
                                <div class="align-self-center">
                                  <div
                                    class="d-flex justify-content-center cursor-pointer"
                                    (click)="feedback_type_id_selected = item.id"
                                  >
                                    <!-- (click)="(feedback_type_id_selected == item.id)? feedback_type_id_selected = '' :feedback_type_id_selected = item.id"> -->
                                    <i
                                      class="material-icons"
                                      [ngClass]="{
                                        success: feedback_type_id_selected == item.id,
                                        'blue-grey lighten-4': feedback_type_id_selected != item.id
                                      }"
                                      style="font-size: 50px"
                                    >
                                      check_circle_outline
                                    </i>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="
                                  card-body
                                  px-1
                                  d-flex
                                  flex-column
                                  XfontKanit
                                  align-items-center
                                  justify-content-center
                                "
                              >
                                <h5 class="text-center tx-16 my-2">
                                  {{ item.name }}
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row flex-column my-3">
                      <div class="card border-0">
                        <div class="card-header bg-white border-0 pb-0">
                          <h3 class="p-2 XfontKanit tx-gray-700 tx-18 text-bold-500 text-underline">Feedback Topic</h3>

                          <div class="row mt-3 mx-0">
                            <button
                              class="
                                btn btn-top btn-round btn-min-width
                                mr-1
                                mb-1
                                text-bold-500
                                tx-14
                                text-white
                                cursor-pointer
                              "
                              (click)="openModal(template2)"
                            >
                              New Item
                            </button>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="table-responsive my-2 scroll-hori" style="max-height: 350px">
                            <table id="table_detail" class="table table-bordered table-striped table-hover border-0">
                              <thead class="tx-gray-700 text-center">
                                <tr>
                                  <th class="col_number">No</th>
                                  <th>Type of Travel</th>
                                  <th class="w-auto headcol">Active/Edit/Delete</th>
                                </tr>
                              </thead>
                              <tbody class="border-0" *ngIf="model_all.list_feedback.length > 0">
                                <tr
                                  *ngFor="
                                    let item of DataBYTYPEID(
                                      model_all.list_feedback,
                                      this.feedback_type_id_selected,
                                      'master'
                                    );
                                    let i = index
                                  "
                                >
                                  <td class="text-center">{{ i + 1 }}</td>
                                  <td>{{ item.name }}</td>
                                  <td class="text-center headcol tx-gray-700">
                                    <div class="example-button-row" style="max-height: 40px">
                                      <div class="d-flex justify-content-center">
                                        <div class="d-flex justify-content-center align-items-center">
                                          <input
                                            type="checkbox"
                                            [(ngModel)]="item.statusTF"
                                            (ngModelChange)="change_status('topic', item)"
                                          />
                                        </div>
                                        <div class="d-flex justify-content-center mx-2 align-items-center">
                                          <mat-icon
                                            class="cursor-pointer"
                                            (click)="selected_topic_now(item, template2)"
                                          >
                                            edit
                                          </mat-icon>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                          <mat-icon class="cursor-pointer" (click)="delete_row_topic(item)">
                                            delete_forever</mat-icon
                                          >
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>

                <mat-tab label="Feedback Questions" (click)="x_text = 'Feedback Questions'">
                  <div class="container-fluid mt-2">
                    <div class="row flex-column my-3">
                      <div class="card bg-white border-0 pb-0 mb-0">
                        <div class="card-header bg-white border-0">
                          <h3 class="p-2 XfontKanit tx-gray-700 tx-18 text-bold-500 text-underline">Feedback Type</h3>
                        </div>

                        <div
                          class="d-flex justify-content-center flex-wrap align-items-center border-2 border-white"
                          style="min-height: 180px"
                          [ngClass]="{
                            'justify-content-start':
                              model_all.type_feedback.length > 2 || model_all.type_feedback.length == 1,
                            'justify-content-center': model_all.type_feedback.length <= 2
                          }"
                        >
                          <div class="col-12 col-md-5 col-lg-4" *ngFor="let item of model_all.type_feedback">
                            <div
                              class="card box-shadow-2 rounded-20 pt-4"
                              [ngClass]="{
                                'mt-border-success animate__animated animate__fadeIn':
                                  feedback_type_id_selected == item.id
                              }"
                              style="min-height: 100px"
                            >
                              <div class="row justify-content-center">
                                <div class="align-self-center">
                                  <div
                                    class="d-flex justify-content-center cursor-pointer"
                                    (click)="feedback_type_id_selected = item.id"
                                  >
                                    <!-- (click)="(feedback_type_id_selected == item.id)? feedback_type_id_selected = '' :feedback_type_id_selected = item.id"> -->

                                    <i
                                      class="material-icons"
                                      [ngClass]="{
                                        success: feedback_type_id_selected == item.id,
                                        'blue-grey lighten-4': feedback_type_id_selected != item.id
                                      }"
                                      style="font-size: 50px"
                                    >
                                      check_circle_outline
                                    </i>
                                  </div>
                                </div>
                              </div>

                              <div
                                class="
                                  card-body
                                  px-1
                                  d-flex
                                  flex-column
                                  XfontKanit
                                  flex-wrap
                                  align-items-center
                                  justify-content-center
                                "
                              >
                                <h5 class="text-center tx-16 my-2">
                                  {{ item.name }}
                                </h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 p-0 p-sm-1" *ngIf="model_all.list_feedback.length > 0">
                        <div class="card bg-white border-0 m-0">
                          <div class="card-header bg-white border-0 pb-1">
                            <h3 class="text-left XfontKanit tx-gray-700 tx-18 text-bold-500 text-underline">
                              Feedback Questions
                            </h3>
                          </div>
                          <div class="card-body pb-1">
                            <mat-expansion-panel
                              [expanded]="item.show"
                              hideToggle="true"
                              class="border-bottom-0 mb-4 box-shadow-2 animate__animated animate__fadeIn px-0"
                              *ngFor="
                                let item of DataBYTYPEID(model_all.list_feedback, this.feedback_type_id_selected);
                                let ir = index
                              "
                              [ngClass]="
                                DataBYCARID(item.id).length == 0 || item.name.toLocaleLowerCase() == 'other'
                                  ? 'd-none'
                                  : ''
                              "
                            >
                              <mat-expansion-panel-header
                                (click)="item.show = !item.show"
                                class="d-flex justify-content-around"
                              >
                                <h4 class="text-bold-400 XfontKanit tx-16">{{ item.name }}</h4>

                                <i class="material-icons ml-auto tx-24" *ngIf="item.show">keyboard_arrow_up</i>
                                <i class="material-icons ml-auto tx-24" *ngIf="!item.show">keyboard_arrow_down</i>
                              </mat-expansion-panel-header>

                              <div class="card-body px-0 px-sm-3">
                                <div class="container" *ngFor="let detail of DataBYCARID(item.id); let i = index">
                                  <!-- {{}} -->
                                  <div
                                    class="row my-4 animate__animated   {{
                                      detail.action_type == 'delete' ? '' : 'animate__fadeIn'
                                    }}"
                                  >
                                    <div class="col-12 px-0 px-sm-0 px-md-5 px-lg-5 px-xl-5">
                                      <div class="row mx-1 mx-md-0 align-items-center">
                                        <div
                                          class="
                                            col-2 col-md-1
                                            pr-0 pr-md-2
                                            text-bold-500
                                            tx-18
                                            d-flex
                                            align-items-center
                                          "
                                        >
                                          {{ i + 1 + '.' }}
                                        </div>
                                        <div class="col-5 col-md-2 pl-0 pl-md-2">
                                          <span
                                            class="mx-0 mx-md-0 mx-lg-1 material-icons cursor-pointer danger tx-18"
                                            (click)="update_data(detail, 'true', item)"
                                          >
                                            remove_circle
                                          </span>
                                          <span
                                            class="material-icons cursor-pointer success tx-18"
                                            [hidden]="
                                              DataBYCARID(item.id).length == 0
                                                ? false
                                                : DataBYCARID(item.id).length - 1 != i
                                            "
                                            (click)="new_row(detail, item)"
                                          >
                                            add_circle
                                          </span>
                                        </div>

                                        <div class="col-12 col-md-9">
                                          <div class="form-group">
                                            <label class="text-bold-400 XfontKanit">Question Name</label>

                                            <input
                                              type="text"
                                              class="form-control"
                                              [(ngModel)]="detail.name"
                                              (ngModelChange)="detail.action_change = 'true'"
                                            />
                                          </div>
                                          <div class="form-group">
                                            <label class="text-bold-400 XfontKanit">Description</label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              [(ngModel)]="detail.description"
                                              (ngModelChange)="detail.action_change = 'true'"
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </mat-expansion-panel>
                            <div
                              class="row"
                              *ngFor="let item of DataBYTYPEID(model_all.list_feedback, this.feedback_type_id_selected)"
                              [ngClass]="DataBYCARID(item.id).length == 0 || item.id != '4' ? 'd-none' : ''"
                            >
                              <div class="col-12" *ngFor="let detail of DataBYCARID(item.id)">
                                <div class="form-group">
                                  <label class="text-bold-400 XfontKanit tx-16">Question Recommend</label>
                                  <input
                                    class="form-control"
                                    [(ngModel)]="detail.name"
                                    (ngModelChange)="detail.action_change = 'true'"
                                    type="text"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row justify-content-end mb-3 mx-2" style="gap: 0.5em">
                            <button
                              class="
                                bg-top-pink
                                btn btn-round
                                font-weight-bold
                                btn-min-width
                                tx-14
                                text-white
                                cursor-pointer
                              "
                              (click)="Onsave_Question('saved')"
                            >
                              Save
                            </button>

                            <button
                              class="
                                bg-white
                                pink
                                border-pink
                                btn btn-round btn-min-width
                                font-weight-bold
                                tx-14
                                text-pink
                                cursor-pointer
                              "
                              (click)="updata_for_api('master_question')"
                            >
                              Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>

        <ng-template #template1>
          <div class="modal-header">
            <h5 class="modal-title">Feedback Type</h5>
            <button type="button" class="close" (click)="Hide_modal()">
              <span aria-hidden="true" style="color: red">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <label for="basic-url" class="font-weight-bold" [ngClass]="check_el(type_name) ? 'text-error' : ''"
                  >Name <span [ngClass]="check_el(type_name) ? 'text-error' : 'span-mark'">*</span>:</label
                >
                <div class="input-group mb-3">
                  <input
                    type="text"
                    #type_name="ngModel"
                    required
                    [(ngModel)]="Feedback_type_selected.name"
                    class="form-control tx-16"
                    [ngClass]="check_el(type_name) ? 'border-error' : ''"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                  />
                </div>
              </div>
              <div class="col-12" *ngIf="false">
                <label for="basic-url" class="font-weight-bold">Status:</label>
                <div class="input-group mb-3">
                  <select
                    id="my-select"
                    class="form-control form-control-lg tx-14"
                    [(ngModel)]="Feedback_type_selected.status"
                    name=""
                  >
                    <option value="" disabled>-- Plase Select --</option>
                    <option value="1">Active</option>
                    <option value="0">In Active</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer justify-content-start">
            <button
              class="btn btn-min-width btn-round mr-1 mb-1 bg-top-pink text-bold-500 tx-14 text-white"
              (click)="new_row_type()"
              [hidden]="Feedback_type_selected.action"
            >
              Add
            </button>
            <button
              class="btn btn-min-width btn-round mr-1 mb-1 bg-top-pink text-bold-500 tx-14 text-white"
              (click)="update_row_type()"
              [hidden]="!Feedback_type_selected.action"
            >
              Update
            </button>
            <button
              class="btn btn-min-width btn-round mr-1 mb-1 bg-white pink border-pink text-bold-500 tx-14 text-pink"
              (click)="Hide_modal()"
            >
              Cancel
            </button>
          </div>
        </ng-template>

        <ng-template #template2>
          <div class="modal-header">
            <h5 class="modal-title">Feedback Topic</h5>
            <button type="button" class="close" data-dismiss="modal" (click)="Hide_modal_topic()" aria-label="Close">
              <span aria-hidden="true" style="color: red">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <label for="basic-url" class="font-weight-bold" [ngClass]="check_el(topic_name) ? 'text-error' : ''"
                  >Name
                  <span [ngClass]="check_el(topic_name) ? 'text-error' : 'span-mark'">*</span>
                  :</label
                >
                <div class="input-group mb-3">
                  <input
                    type="text"
                    #topic_name="ngModel"
                    required
                    [(ngModel)]="Feedback_topic_selected.name"
                    class="form-control tx-16"
                    [ngClass]="check_el(topic_name) ? 'border-error' : ''"
                    id="basic-url"
                    aria-describedby="basic-addon3"
                  />
                </div>
              </div>
              <div class="col-12" *ngIf="false">
                <label for="basic-url" class="font-weight-bold">Status:</label>
                <div class="input-group mb-3">
                  <select
                    id="my-select"
                    class="form-control form-control-lg tx-14"
                    [(ngModel)]="Feedback_topic_selected.status"
                    name=""
                  >
                    <option value="" disabled>-- Plase Select --</option>
                    <option value="1">Active</option>
                    <option value="0">In Active</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-start">
            <button
              class="btn btn-round btn-min-width mr-1 mb-1 bg-top-pink text-bold-500 tx-14 text-white"
              (click)="new_row_topic()"
              [hidden]="Feedback_topic_selected.action"
            >
              Add
            </button>
            <button
              class="btn btn-round btn-min-width mr-1 mb-1 bg-top-pink text-bold-500 tx-14 text-white"
              (click)="update_row_topic()"
              [hidden]="!Feedback_topic_selected.action"
            >
              Update
            </button>
            <button
              class="btn btn-round btn-min-width mr-1 mb-1 bg-white pink border-pink text-bold-500 tx-14 text-pink"
              (click)="Hide_modal_topic()"
            >
              Cancel
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
