<!-- <p>mtkhcode works!</p> -->
<div id="contentX" #contentX class="col-12 boxcolor-mm background-Slide d-none animate__animated animate__fadeIn"
    style="height: 350px;">
    <div class="row">
        <div class="col-sm-12">

            <div class="card box-shadow-1 mt-3 mn-ht-500">

                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12" style="min-height: 67px;">
                        <div class="marker marker-ribbon marker-top-blue pos-absolute mt-4 pl-5 pr-5">
                            <p class="tx-24 m-0">
                                &#32;
                                <!-- <i class="fa fa-file-text-o"></i> -->
                                Employee Business Rate
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 pr-0 mr-0">

                    </div>

                    <div class="col-lg-4">

                    </div>
                </div>
                <div class="card-body">
                    <div class="row mt-2">
                        <div class="col-xl-3 col-lg-6 col-md-12">
                            <div class="card card-file">
                                <div class="dropdown-file">
                                    <a href="" class="dropdown-link" data-toggle="dropdown" aria-expanded="false"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-more-vertical">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg></a>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(18px, 18px, 0px);">
                                        <!-- <a href="#modalViewDetails" data-toggle="modal"
                                            class="dropdown-item details"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-info">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <line x1="12" y1="16" x2="12" y2="12"></line>
                                                <line x1="12" y1="8" x2="12" y2="8"></line>
                                            </svg>View Details</a>
                                        <a href="" class="dropdown-item important"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-star">
                                                <polygon
                                                    points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                                                </polygon>
                                            </svg>Mark as Important</a> -->
                                        <!-- <a href="#modalShare" data-toggle="modal" class="dropdown-item share"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-share">
                                                <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                                                <polyline points="16 6 12 2 8 6"></polyline>
                                                <line x1="12" y1="2" x2="12" y2="15"></line>
                                            </svg>Share</a> -->
                                        <p class="dropdown-item share cursor-pointer" (click)="file.click()">
                                            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" #file class="d-none" (change)="onFileSelect($event)" />
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-share">
                                                <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                                                <polyline points="16 6 12 2 8 6"></polyline>
                                                <line x1="12" y1="2" x2="12" y2="15"></line>
                                            </svg>Upload</p>
                                        <p class="dropdown-item download cursor-pointer" (click)="downLoadFile()"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-download">
                                                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                                <polyline points="7 10 12 15 17 10"></polyline>
                                                <line x1="12" y1="15" x2="12" y2="3"></line>
                                            </svg>Download</p>
                                        <!-- <a href="#modalCopy" data-toggle="modal" class="dropdown-item copy"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-copy">
                                                <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                                                <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1">
                                                </path>
                                            </svg>Copy to</a>
                                        <a href="#modalMove" data-toggle="modal" class="dropdown-item move"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-folder">
                                                <path
                                                    d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z">
                                                </path>
                                            </svg>Move to</a>
                                        <a href="#" class="dropdown-item rename"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-edit">
                                                <path
                                                    d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34">
                                                </path>
                                                <polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon>
                                            </svg>Rename</a>
                                        <a href="#" class="dropdown-item delete"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-trash">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path
                                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                </path>
                                            </svg>Delete</a> -->
                                    </div>
                                </div><!-- dropdown -->
                                <div class="card-file-thumb tx-excel">
                                    <i class="fa fa-file-excel-o"></i>
                                </div>
                                <div class="card-body">
                                    <h6><a class="link-02" (click)="downLoadFile()">{{model.file_detail.fileName}}</a></h6>
                                    <span>{{model.file_detail.fileSize}}</span>
                                </div>
                                <div class="card-footer">
                                    <p><span class="d-none d-sm-inline">Last upload date:
                                            {{model.file_detail.lastUploadDate}}
                                        </span>
                                    </p>
                                    <p><span class="d-none d-sm-inline">Upload by:
                                            {{model.file_detail.uploadBy}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                        <div class="row mt-2">
                            <div class="col-xl-3 col-lg-6 col-md-12">
                                <fieldset class="form-group">
                                    <label for="basicInput">ISOS Member list Of<span class="red"> *</span></label>

                                    <select class="form-control input-small" #mySelectX [(ngModel)]="model.year"
                                        formControlName="year" [ngClass]="{ 'is-invalid': submitted && f.year.errors }"
                                        (change)="search(model.year)">
                                        <option *ngFor="let year of model.yearArr" [ngValue]="year">{{ year }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                                        <div *ngIf="f.year.errors.required">Username is required</div>
                                    </div>
                                </fieldset>

                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-12">
                                <fieldset class="form-group">
                                    <label for="basicInput" class="tx-white d-none d-lg-block"> . . . </label>
                                    <div class="form-group mb-0 ">
                                        <button class="btn btn-round btn-min-width"
                                            [ngClass]="{'btn-teal':model.dataSource.length>0 , 'btn-secondary disabled cursor-not-allowed':model.dataSource.length === 0}"
                                            [disabled]="model.dataSource.length === 0" (click)="exportExcel(model.year)"><i
                                                class="fa fa-file-excel-o"></i>
                                            Export</button>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-xl-12 col-lg-12 col-sm-12">
                                <div class="table-responsive scroll-hori mx-ht-500px">
                                    <table class="table table-bordered table-striped table-hover tx-gray-700"[style.minWidth]="1040 + 'px'">
                                        <thead>
                                            <tr class="tx-center">
                                                <th colspan="7" [style.minWidth]="1040 + 'px'" class="tx-bold ">Employee
                                                    Information</th>
                                            </tr>
                                            <tr class="tx-center">

                                                <td [style.minWidth]="90 + 'px'" class="tx-bold ">Running No.
                                                </td>
                                                <td [style.minWidth]="140 + 'px'" class="tx-bold ">Type of Travel
                                                </td>
                                                <td [style.minWidth]="140 + 'px'" class="tx-bold ">Emp ID</td>
                                                <td [style.minWidth]="280 + 'px'" class="tx-bold ">Name</td>
                                                <td [style.minWidth]="130 + 'px'" class="tx-bold ">Section</td>
                                                <td [style.minWidth]="130 + 'px'" class="tx-bold ">Department</td>
                                                <td [style.minWidth]="130 + 'px'" class="tx-bold ">Function</td>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr [ngClass]="{'d-none':model.dataSource.length > 0}">
                                                <td colspan="7" class="pl-5">No Data.</td>
                                            </tr>
                                            <tr *ngFor="let dr of model.dataSource; let i = index"
                                                [ngClass]="{'d-none':model.dataSource.length === 0}">

                                                <td class="text-center">{{ dr.no }}</td>
                                                <td class="text-center">{{ dr.type_of_travel }}</td>
                                                <td class="text-center">{{ dr.emp_id }}</td>
                                                <td class="text-left">{{ dr.emp_display }}</td>
                                                <td class="text-center">{{ dr.emp_section }}</td>
                                                <td class="text-center">{{ dr.emp_department }}</td>
                                                <td class="text-center">{{ dr.emp_function }}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p class="tx-gray-700 mt-1">Result : {{ model.dataSource.length }} record.</p>
                            </div>
                        </div>
                    </form> -->
                </div>

            </div>
        </div>
    </div>



</div>
<div class="modal fade effect-scale" id="modalShare" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-30">
                <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h5 class="tx-18 tx-sm-20 mg-b-30">Share With Others</h5>

                <div class="mg-t-20">
                    <label class="d-block">Other users:</label>
                    <input class="form-control" placeholder="Enter names or email addresses">
                    <div class="dropdown mg-t-10">
                        Rights: <a href="" class="dropdown-link" data-toggle="dropdown">Allow editing <i
                                class="icon ion-chevron-down tx-12"></i></a>
                    </div><!-- dropdown -->
                    <hr>
                    <label class="d-block">More:</label>
                    <nav class="nav nav-social">
                        <a href="" class="nav-link"><i data-feather="facebook"></i></a>
                        <a href="" class="nav-link"><i data-feather="twitter"></i></a>
                    </nav>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Share</button>
            </div><!-- modal-footer -->
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->