<!-- <p>header works!</p> -->

<!-- <img src="assets/loading.gif" class="loading_img"> -->
<!-- <table [hidden]="!isLoading" class="loading_img" border=0>
    <tr>
        <td><img src="assets/loading.gif" style="width: 150px;"></td>
    </tr>
</table> -->
<!-- <table [hidden]="!errorBox.sts" class="loading_img" style="background-color: rgba(0, 0, 0, 0.278); z-index: 9999;" border=0 (click)="hideMessage()">
    <tr>
        <td style="text-align: center;">
            <div class="boxMessage">
                {{ errorBox.text }}
                <p><button (click)="hideErrorBox()">OK</button></p>
            </div>
        </td>
    </tr>
</table> -->

<!-- <table [hidden]="!message.sts" class="loading_img" style="background-color: rgba(0, 0, 0, 0.278); z-index: 9999;" border=0 (click)="hideMessage()">
    <tr>
        <td style="text-align: center;">
            <div class="boxMessage">
                {{ message.text }}
                <p><button>OK</button></p>
            </div>
        </td>
    </tr>
</table> -->

<!-- <table [hidden]="!confirmBox.sts" class="loading_img" style="background-color: rgba(0, 0, 0, 0.278); z-index: 9999;" border=0>
    <tr>
        <td>
             style="text-align: center;" 
            <div class="boxMessage">
                <div class="row">
                    <div class="col-lg-12 tx-left-f">
                        <p class="tx-18 tx-gray-700 ">Confirmation</p>
                    </div>
                    <div class="col-lg-12 tx-left-f" style="min-height: 60px;">
                        <p class="tx-16 tx-gray-700 ">{{confirmBox.text}}</p>
                    </div>
                     <div class="row" style="text-align: right;width: 100%;">
                    <p class="tx-16 pl-3 mb-0 pb-0" ><span class="pr-2 cursor-pointer">NO</span><span class="cursor-pointer">YES</span></p>
                </div> 
                     <div class="col-lg-12 mb-0 pb-0 tx-right-f">
                        <span class="btn btn-outline-primary wd-60-f cursor-pointer mr-2"(click)="hideConfirm(true)">YES</span>
                        <span class="btn btn-outline-danger wd-60-f cursor-pointer "(click)="hideConfirm(false)">NO</span>

                    </div> 
                    <div class="col-lg-12 mt-0 pt-0 mb-0 pb-0 tx-center-f">
                        <button class="btn btn-min-width mt-0 mb-0" (click)="hideConfirm(true)">Yes</button>
                        <button class="btn btn-red btn-min-width mt-0 mb-0" (click)="hideConfirm(false)">No</button>
                    </div>
                     <p>
                    <button class="btn btn-min-width" (click)="hideConfirm(true)">Yes</button>
                    <button class="btn btn-red btn-min-width " (click)="hideConfirm(false)" >No</button>
                </p> 
                </div>
            </div>
        </td>
    </tr>
</table> -->

<!-- <table [hidden]="!confirmTextBox.sts" class="loading_img" style="background-color: rgba(0, 0, 0, 0.278); z-index: 9999;" border=0>
    <tr>
        <td style="text-align: center;">
            <div class="boxMessage">
                {{ confirmTextBox.text }}
                <input type="text" class="inputRemark" >
                <p><button (click)="hideConfirmTextbox(true)">Yes</button><button (click)="hideConfirmTextbox(false)" style="background-color: red;">No</button></p>
            </div>
        </td>
    </tr>
</table> -->

<!-- MENU MOBILE -->
<!-- <div class="d-block d-lg-none">
    <nav class="navbar navbar-expand-lg navbar-light bg-box-menu-toggle">
        <div style="clear: both; width: 100%;">
            <table width=100% class="table-mobile">
                <tr>
                    <td align="left" class="pl-2">
                        <img src="assets/logo.png" width="100px;" routerLink="/ebizhome" routerLinkActive="active">
                    </td>
                    <td align="right">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: 0px">
                            <span class="navbar-toggler-icon" style="color: #04528A"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mobile-menu-list">
                 Dropdown -->

                <!-- Dropdown 
                <li class="nav-item">
                    <a class="nav-link" (click)="herderrouterReload('/ebizhome')">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Business Trip</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="herderrouterReload('/main/request_list/oversea')">Oversea Approval Request</a>
                        <a class="dropdown-item" (click)="herderrouterReload('/main/request_list/local')">Local Approval Request</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Training Trip</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="herderrouterReload('/main/request_list/overseatraining')">Oversea Approval Request</a>
                        <a class="dropdown-item" (click)="herderrouterReload('/main/request_list/localtraining')">Local Approval Request</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Traveler Profile</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" (click)="routerReload('travelerhistory')" routerLinkActive="active">Personal Detail</a>
                        <a class="dropdown-item" (click)="routerReload('passport')" routerLinkActive="active">Passport</a>
                        <a class="dropdown-item" (click)="routerReload('visa')" routerLinkActive="active">VISA</a>
                        <a class="dropdown-item" (click)="routerReload('travelrecord')" routerLinkActive="active">Travel Record</a>
                        <a class="dropdown-item" (click)="routerReload('insurancerecord')" routerLinkActive="active" [hidden]="!isAdmin">Travel Insurance Record</a>
                        <a class="dropdown-item" (click)="routerReload('isosrecord')" routerLinkActive="active" [hidden]="!isAdmin">ISOS Record</a>
                    </div>

                </li>
                <li class="nav-item dropdown" *ngIf="isAdmin">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maintain Data</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" *ngFor="let dr of menuListMaintain" routerLink="{{gotoPageMaintain(dr.pagename)}}" routerLinkActive="active">{{dr.menuname}}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="!isCreate">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" *ngFor="let item of menuList" href="{{item.url}}"
                            [ngClass]="{'d-none' : item.display === false}">{{item.menuname}}</a> 
                        <a class="dropdown-item" *ngFor="let dr of menuList" routerLink="{{getPageUrl(dr.pagename)}}" routerLinkActive="active" [ngClass]="{'d-none' : dr.display === false}"> 
                            {{dr.menuname}}
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="openModalx(template,'')">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="handleLogout()">Logout</a>
                </li>

            </ul>

        </div>
    </nav>
</div> -->

<!-- HEADER DASKTOP -->
<!-- <nav class="header-navbar navbar-expand-sm navbar navbar-light border-bottom ht-70 d-none d-lg-block">
    navbar-semi-light bg-gradient-x-grey-blue 
    <div class="navbar-wrapper">
        <div class="navbar-header border-0 ">
            <ul class="nav navbar-nav flex-row ">
                 <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li> 
                <li class="nav-item mg-t-5-f"><img class="brand-logo wd-80 cursor-pointer" src="assets/logo.png" routerLink="/ebizhome">
                </li>
                 <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a></li> 
            </ul>
        </div>
         <div class="navbar-container content"> 
        <div class="navbar-container ">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">

                </ul>

                <ul class="nav navbar-nav float-right">

                     routerLink="/ebizhome" 
                    <li class="nav-item">
                         <a class="nav-link" href="#" routerLink="/main/services"
                            data-toggle="dropdown"><span
                                [ngClass]="(MenuActive.HOME === true)?'txt-menu-selected':''">Home</span></a> 
                        <button mat-button class="nav-link mt-2" routerLink="/ebizhome"><span [ngClass]="(MenuActive.HOME === true)?'txt-menu-selected tx-uppercase':' tx-uppercase'">HOME</span></button>

                    </li>
                    <li class="nav-item d-none">
                         <a class="nav-link" href="#" data-toggle="dropdown"><span
                                [ngClass]="(MenuActive.MYTRIP === true)?'txt-menu-selected':''">My Trip</span></a> 
                        <button mat-button class="nav-link mt-2" routerLink="/master/personal/travelrecord"><span [ngClass]="(MenuActive.MYTRIP === true)?'txt-menu-selected tx-uppercase':' tx-uppercase'">My
                                Trip</span></button>
                    </li>
                    <li class="nav-item">
                         <button mat-button [matMenuTriggerFor]="" class="nav-link " style="margin-top: 7.5px;"><span [ngClass]="(MenuActive.SERVICE === true)?'txt-menu-selected tx-uppercase ':' tx-uppercase'"> 

                                Service
                                 <i class="fa fa-caret-down p-0 m-0"></i> -->
                                <!-- <mat-icon >arrow_drop_down</mat-icon> -->
                            <!-- </span></button> -->

                        <!-- #docregion sub-menu -->
                        <!-- <mat-menu #submenu1="matMenu"> -->
                            <!-- <button mat-menu-item [matMenuTriggerFor]="submenu21">Business Trip</button>
                            <button mat-menu-item [matMenuTriggerFor]="submenuTrainingtrip">Training Trip</button>
                            <button mat-menu-item [matMenuTriggerFor]="submenuPersonal">Traveler Profile</button>
                            <button mat-menu-item [matMenuTriggerFor]="submenu22" [hidden]="!isAdmin">Maintain
                                Data</button>
                            <button mat-menu-item routerLink="/manageadmin" [hidden]="!isAdmin">Manage Admin</button>
                        </mat-menu> 

                        <mat-menu #submenu21="matMenu">
                            <button mat-menu-item routerLink="/main/request_list/oversea">Overseas Approval
                                Request</button>
                            <button mat-menu-item routerLink="/main/request_list/local">Local Approval Request</button>
                        </mat-menu>
                        <mat-menu #submenuTrainingtrip="matMenu">
                            <button mat-menu-item routerLink="/main/request_list/overseatraining">Overseas Approval
                                Request</button>
                            <button mat-menu-item routerLink="/main/request_list/localtraining">Local Approval
                                Request</button>
                        </mat-menu>
                         #enddocregion sub-menu 

                        <mat-menu #submenuPersonal="matMenu">

                            <button mat-menu-item routerLink="/master/personal/travelerhistory">Personal Detail</button> 
                            <button mat-menu-item (click)="routerReload('travelerhistory')">Personal Detail</button>
                            <button mat-menu-item (click)="routerReload('passport')">Passport</button>
                            <button mat-menu-item (click)="routerReload('visa')">VISA</button>

                            <button mat-menu-item (click)="routerReload('travelrecord')">Travel Record</button>
                            <button mat-menu-item (click)="routerReload('insurancerecord')" [hidden]="!isAdmin">Travel
                                Insurance Record</button>
                            <button mat-menu-item (click)="routerReload('isosrecord')" [hidden]="!isAdmin">ISOS
                                Record</button>

                             <button mat-menu-item routerLink="/master/personal/travelerhistory"><i class="fa fa-user-o"></i> Personal Detail</button>
                            <button mat-menu-item routerLink="/master/personal/visa"><i class="fa fa-plane"></i> VISA</button>
                            <button mat-menu-item routerLink="/master/personal/passport"><i class="fa fa-address-book-o"></i> Passport</button>
                            <button mat-menu-item routerLink="/master/personal/travelrecord"><i class="fa fa-file-text-o"></i> Travel Record</button>
                            <button mat-menu-item routerLink="/master/personal/isosrecord" [hidden]="!isAdmin"><i class="fa fa-file-text-o"></i> ISOS Record</button>
                            <button mat-menu-item routerLink="/master/personal/insurancerecord" [hidden]="!isAdmin"><i class="fa fa-file-text-o"></i> Insurance Record</button> 
                        </mat-menu>

                        <mat-menu #submenu22="matMenu">
                            <button mat-menu-item routerLink="/maintain/mtbookingstatus">Booking Status</button>
                            <button mat-menu-item routerLink="/maintain/mtalreadybooked">Booking Provider</button>
                            <button mat-menu-item routerLink="/maintain/mtdailyallowance">Allowance Rate</button>
                            <button mat-menu-item routerLink="/maintain/mtkhcode">Employee Business Rate</button>
                             <button mat-menu-item [matMenuTriggerFor]="visa">VISA</button> 
                            <button mat-menu-item routerLink="/maintain/mtvisacountries">VISA Countries</button>
                            <button mat-menu-item routerLink="/maintain/mtvisadocument">VISA Document</button>
                            <button mat-menu-item routerLink="/maintain/mtbroker">Insurance/ISOS List</button>

                            <button mat-menu-item routerLink="/maintain/mtfeedbackquestion">Feedback</button>
                        </mat-menu>

                         <mat-menu #visa="matMenu">
                            <button mat-menu-item routerLink="/maintain/mtvisacountries">VISA Countries</button>
                            <button mat-menu-item routerLink="/maintain/mtvisadocument">VISA Document</button>
                            
                        </mat-menu> 


                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><span
                                [ngClass]="(MenuActive.CONTACTUS === true)?'txt-menu-selected':''">Contact us</span></a> 
                        <button #btnContact id="btnContact" mat-button class="nav-link mt-2 mr-2" (click)="openModalx(template,'')"><span [ngClass]="(MenuActive.CONTACTUS === true)?'txt-menu-selected tx-uppercase':' tx-uppercase'">Contact
                                us</span></button>
                    </li>

                    <li class="nav-item border-left pl-3">
                         style="padding-top: 10px; border-left: 1px solid silver; padding-left: 10px; text-align: right" 
                        <div class="text-right mg-t-20">
                            <label style="color: #04528a; font-weight: bold; ">{{
                                profile.username }}</label>
                            <p class="tx-10 tx-danger tx-bold cursor-pointer m-0 p-0 tx-hover" (click)="handleLogout()">
                                <i class="fa fa-sign-out"></i>LOGOUT
                                 <button (click)="handleLogout()"
                                    style="color: red; font-weight: bold; margin-right: 10px; border: 0px; background-color: white;">Logout</button> 
                            </p>
                        </div>
                    </li>
                    <li class="nav-item">
                         <div class="avatar avatar-small mg-t-10 mg-l-10"> 
                        <div class="profile-image mg-t-10 mg-l-10">
                            <img src="{{ profile.images }}" class="avatar-40  rounded-circleX border-blue-grey border-lighten-3 pos-relative " onerror="javascript:this.src='assets/imgs/user_login.png'">
                        </div>

                    </li>
                     <li class="dropdown dropdown-user nav-item"><a class="dropdown-user-link"
                            href="#" data-toggle="dropdown"><span class="avatar avatar-small avatar-online border-blue-grey mg-t-10"><img
                                    src="{{ profile.images }}"
                                    onerror="javascript:this.src='assets/imgs/user_login.png'"
                                    alt="avatar"><i></i></span></a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"
                                href="user-profile.html"><i class="ft-user"></i> Edit Profile</a><a
                                class="dropdown-item" href="email-application.html"><i class="ft-mail"></i> My
                                Inbox</a><a class="dropdown-item" href="user-cards.html"><i class="ft-check-square"></i>
                                Task</a><a class="dropdown-item" href="chat-application.html"><i
                                    class="ft-message-square"></i> Chats</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item"
                                href="login-with-bg-image.html"><i class="ft-power"></i> Logout</a>
                        </div>
                    </li> 
                </ul>
            </div>
        </div>
    </div>
</nav> -->
<!-- <ng-template #template id="template">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title tx-20 tx-gray-800" id="my-modal-title"><i class="fa fa fa-comments-o px-1"></i>
                CONTACT US
            </span>
             <button type="button" class="close red" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()"> -->
                <!-- <span aria-hidden="true">&times;</span> -->
            <!-- </button> 
        </div>
        <div class="modal-body ">
            <div class="row col-sm-12 container">
                <div class="col-sm-6 mb-1 " *ngFor="let item of listContact">
                    <div class="row">
                        <div class="text-center ">
                             <div class="avatar border-blue-grey ">
                                <img src="{{ item.img }}" class="rounded-circleX avatar-img "
                                    onerror="javascript:this.src='assets/imgs/user_login.png'">
                            </div> 
                            <div class="profile-image ">
                                <img src="{{item.img}}" class="avatar avatar-75 rounded-circleX border-blue-grey " onerror="javascript:this.src='assets/imgs/user_login.png'">
                            </div>
                        </div>
                        <div class="text-left ml-4">
                            <p class="tx-16 XfontKanit tx-top-pink pb-0 mb-0">{{item.name_th}}</p>
                            <p class="tx-16 tx-top-pink">{{item.name_en}}</p>
                            <p class="tx-14 tx-top-blue pb-0 mb-0"><i class="fa fa-phone"></i> : {{item.tel}}</p>
                            <p class="tx-14 tx-top-blue pb-0 mb-0"><i class="fa fa-mobile tx-18"></i> : {{item.mobile}}
                            </p>
                            <p class="tx-14 tx-top-blue tx-lowercase"><i class="fa fa-envelope-o"></i> :
                                {{item.email}}</p>
                        </div>
                    </div>
                </div>
                 <table class="table ml-2 mr-2">
                    <tbody>
                        <tr>
                            <td class="wd-10p text-center">
                                <img src="assets/imgs/user_login.png" class="rounded-circle height-75" alt="Card image">
                            </td>
                            <td class="wd-40p text-left">
                                <p class="tx-16 XfontKanit tx-top-pink pb-0 mb-0">พิราภรณ์ วิวัฒน์เจริญกิจ</p>
                                <p class="tx-16 tx-top-pink">Piraporn Wiwatjaroenkit</p>
                                <p class="tx-14 tx-top-blue pb-0 mb-0"><i class="fa fa-phone"></i> : 21632</p>
                                <p class="tx-14 tx-top-blue pb-0 mb-0"><i class="fa fa-mobile tx-18"></i> : 06-1919-6616
                                </p>
                                <p class="tx-14 tx-top-blue tx-lowercase"><i class="fa fa-envelope-o"></i> : PIRAPORNW@THAIOILGROUP.COM</p>
                            </td>
                            <td class="wd-10p text-center">
                                <img src="assets/imgs/user_login.png" class="rounded-circle height-75" alt="Card image">
                            </td>
                            <td class="wd-40p text-left">
                                <p class="tx-16 XfontKanit tx-top-pink pb-0 mb-0">พิราภรณ์ วิวัฒน์เจริญกิจ</p>
                                <p class="tx-16 tx-top-pink">Piraporn Wiwatjaroenkit</p>
                                <p class="tx-14 tx-top-blue pb-0 mb-0"><i class="fa fa-phone"></i> : 21632</p>
                                <p class="tx-14 tx-top-blue pb-0 mb-0"><i class="fa fa-mobile tx-18"></i> : 06-1919-6616
                                </p>
                                <p class="tx-14 tx-top-blue tx-lowercase"><i class="fa fa-envelope-o"></i> : PIRAPORNW@THAIOILGROUP.COM</p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table> 


            </div>
        </div>
    </div>
</ng-template> -->

<header class="header">
    <div class="logo">
        <img src="/assets/logo.png" alt="Logo" style="width: 120px; height: 40px; align-items: start; justify-self: start;">
    </div>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">Services</a></li>
            <li class="nav-item"><a href="#">Contact US</a></li>
            <div class="vl"></div>
            <li class="nav-item border-left pl-3">
                <!-- style="padding-top: 10px; border-left: 1px solid silver; padding-left: 10px; text-align: right" -->
                <div class="text-right mg-t-20">
                    <label style="color: #04528a; font-weight: bold; ">{{
                        profile.username }}</label>
                    <p class="tx-10 tx-danger tx-bold cursor-pointer m-0 p-0 tx-hover" (click)="handleLogout()">
                        <i class="fa fa-sign-out"></i>LOGOUT
                        <!-- <button (click)="handleLogout()"
                            style="color: red; font-weight: bold; margin-right: 10px; border: 0px; background-color: white;">Logout</button> -->
                    </p>
                </div>
            </li>
            <li class="nav-item">
                <!-- <div class="avatar avatar-small mg-t-10 mg-l-10"> -->
                <div class="profile-image mg-t-10 mg-l-10">
                    <img src="{{ profile.images }}" class="avatar-40  rounded-circleX border-blue-grey border-lighten-3 pos-relative " onerror="javascript:this.src='assets/imgs/user_login.png'">
                </div>

            </li>
        </ul>
    </nav>
</header>


<style>
    .icon-text {
        display: flex;
        align-items: center;
    }

    .rounded-circleX {
        border-radius: 50%;
    }

    .mat-icon {
    vertical-align: middle;
}
</style>