<!-- <p>master works!</p> -->
<!-- <img src="assets/loading.gif" class="loading_img"> -->


<app-mat-spinner-overlay [hidden]="!isLoading"></app-mat-spinner-overlay>
<!-- <table [hidden]="!isLoading" class="loading_img" border=0>
    <tr>
        <td><img src="assets/loading.gif" style="width: 150px;"></td>
    </tr>
</table> -->
<table [hidden]="!message.sts" class="loading_img" style="background-color: rgba(0, 0, 0, 0.278); z-index: 9999;"
    border=0 (click)="hideMessage()">
    <tr>
        <td style="text-align: center;">
            <div class="boxMessage">
                {{ message.text }}
                <p><button>OK</button></p>
            </div>
        </td>
    </tr>
</table>

<table [hidden]="!confirmBox.sts" class="loading_img" style="background-color: rgba(0, 0, 0, 0.278); z-index: 9999;"
    border=0>
    <tr>
        <td style="text-align: center;">
            <div class="boxMessage">
                {{ confirmBox.text }}
                <p><button (click)="hideConfirm(true)">Yes</button><button (click)="hideConfirm(false)"
                        style="background-color: red;">No</button></p>
            </div>
        </td>
    </tr>
</table>

<table [hidden]="!confirmTextBox.sts" class="loading_img" style="background-color: rgba(0, 0, 0, 0.278); z-index: 9999;"
    border=0>
    <tr>
        <td style="text-align: center;">
            <div class="boxMessage">
                {{ confirmTextBox.text }}
                <input type="text" class="inputRemark" [(ngModel)]="confirmTextBox.input">
                <p><button (click)="hideConfirmTextbox(true)">Yes</button><button (click)="hideConfirmTextbox(false)"
                        style="background-color: red;">No</button></p>
            </div>
        </td>
    </tr>
</table>


<!-- <body class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar" data-open="click"
    data-menu="vertical-menu" data-col="2-columns"> -->
<app-header></app-header>
<div class="bg-color">



    <!-- Horizontal navigation-->
    <div class=" containerX ">

        <div class="content-wrapper">
            <!-- <div class="content-header row"></div> -->

            <div class="content row pt-2">
                <div class="col-lg-2 mr-0 pr-0 ml-0 pl-0 d-none d-lg-block">
                    <!-- menu -->
                    <div class="vertical-menu">
                        <!-- <a (click)="activeProject(1)" [ngStyle]="{'background-color': activeProjectIndex === i ? 'green' : 'white' }" [routerLink]="['/tasks/project/', project.projectId]" href="#">{{project.projectName}}</a> -->

                        <!-- <a *ngFor="let dr of menuList" routerLink="{{dr.url}}" routerLinkActive="active">{{dr.menuname}}</a> -->

                        <a *ngFor="let dr of menuList" routerLink="{{getPageUrl(dr.pagename)}}" routerLinkActive="active"
                            [ngClass]="{'d-none' : dr.display === false}">
                            {{dr.menuname}}
                        </a>

                        <!-- <div *ngIf="profile.user_admin">
                        <div class="border-bottom-3 border-bottom-grey-blue  border-bottom-lighten-5"></div>
                        <p class="mt-3 ml-3 tx-bold tx-top-blue"><ins>Maintain Data</ins></p>
                        <div *ngFor="let dr of menuListMaintain; let last = last;">
                            <a routerLink="{{gotoPage(dr.pagename)}}" routerLinkActive="active"
                                *ngIf="dr.display">{{dr.menuname}}</a>
                        </div>
                    </div> -->

                        <!-- <a routerLink="/master/travelerhistory" routerLinkActive="active">Traveler History</a>
                    <a routerLink="/master/airticket" routerLinkActive="active">Air Ticket</a>
                    <a routerLink="/master/accommodation" routerLinkActive="active">Accommodation</a>
                    <a routerLink="/master/visa" routerLinkActive="active">VISA</a>
                    <a routerLink="/master/passport" routerLinkActive="active">Passport</a>
                    <a routerLink="/master/allowance" routerLinkActive="active">Allowance</a>
                    <a routerLink="/master/reimbursement" routerLinkActive="active">Reimbursement</a>
                    <a routerLink="/master/travelinsurance" routerLinkActive="active">Travel Insurance</a>
                    <a routerLink="/master/isos" routerLinkActive="active">ISOS</a>
                    <a routerLink="/master/transportation" routerLinkActive="active">Transportation</a>
                    <a routerLink="/master/travelexpense" routerLinkActive="active">Travel Expense</a>
                    <a routerLink="/master/feedback" routerLinkActive="active">Feed back</a> -->

                    </div>
                </div>
                <div class="col-lg-10 col-sm-12 ml-0 pl-0 mr-0 pr-0">
                    <router-outlet (activate)="onActivate()"></router-outlet>
                </div>
                <!-- <app-button-to-top></app-button-to-top> -->
            </div>

        </div>

    </div>
    <!-- <div class="container d-block d-sm-none">

            <div class="col-lg-12 col-sm-12 ">
                <router-outlet></router-outlet>
            </div>
        
    </div> -->
    <!-- <br><br><br> -->
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <!-- 
    <footer class="footer footer-static footer-light navbar-shadow">
            <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 container center-layout"><span
                            class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018 <a
                                    class="text-bold-800 grey darken-2"
                                    href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent"
                                    target="_blank">PIXINVENT
                            </a>, All rights reserved. </span><span
                            class="float-md-right d-block d-md-inline-block d-none d-lg-block">Hand-crafted
                            & Made with <i class="ft-heart pink"></i></span></p>
    </footer> -->
    <!-- <router-outlet></router-outlet> -->

</div>
<!-- <app-footer></app-footer> -->
<!-- </body> -->