/* Styling for the header */
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

  }

.header-navbar {
    width: 100%;
    height: 90px; 
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    /* display: flex; */
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container for the content below the header */
.container-fluid {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px); /* Adjust height to account for the header */
    margin-top: 60px;
    padding-left:30px; /* Add padding left and right */
    padding-right: 30px;
    height: 100%;
    width: 100%;
}

/* Card container to wrap the sidebar and main content */
.card-container {
    display: flex;
    padding-left:30px; /* Add padding left and right */
    padding-right:30px;
}

/* Sidebar styling */
.sidebar {
    width: 300px; /* Fixed width for the sidebar */
    background-color: #ffffff;
    top: auto;
    height: 100%;
    letter-spacing: 1px;
    font-size: 23px;
    text-align: start;
    display: block;
    font-family: 'Roboto', sans-serif;
    line-height: 50px;
}

/* Sidebar links */
.sidebar a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    display: block;
}

.sidebar a:hover {
    background-color: #e21683;
    color: rgb(255, 255, 255);
}

.sidebar a.active {
    background-color: #ffffff;
    color: #e21683;
    border-left: 5px solid #e21683;
}

.d-none {
    display: none;
}

/* Main content styling */
.main-content {
    flex: 1;
    padding: 20px;
    background: 
    linear-gradient(to top, #00c6fb 0%, #005bea 100%) no-repeat,
    white;
  background-size: 100% 400px, 100% 100%; 
    margin-left: auto;
    border-radius: 10px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background: white;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    color: #434343;
  }
  
  .card .card__container {
    padding: 2rem;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 1rem;
    position: relative;
  }
  
  .card .card__header {
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
  }
  
  .card .card__body {
    font-family: 'Roboto', sans-serif;
  }
  
  .card::before {
    position: absolute;
    top: 2rem;
    left: -0.5rem; /* Change to left */
    content: '';
    background: #283593;
    height: 28px;
    width: 28px;
    transform: rotate(45deg);
  }
  
  .card::after {
    position: absolute;
    content: attr(data-label);
    top: 11px;
    left: -15px; /* Change to left */
    padding: 0.5rem;
    width: 10rem;
    background: #3949ab;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  }
  