<div class="col-12 boxcolor-mm background-Slide animate__animated animate__fadeIn" style="height: 350px">
  <div class="row math-height">
    <div class="col-lg-12">
      <div class="card box-shadow-1 mt-3">
        <div class="card-body m-0 p-0">
          <div class="row" id="rez" #rez>
            <div class="col-12">
              <div class="col-lg-6 col-md-6 col-sm-12" style="min-height: 67px">
                <div class="marker marker-ribbon marker-top-blue pos-absolute mt-4 l-0 pl-5 pr-5">
                  <p class="tx-24 m-0">&#32;&#32;Allowance Rate</p>
                </div>
              </div>
              <div class="col-lg-6 pr-0 mr-0"></div>
            </div>

            <div class="col-12 mt-4">
              <div class="row" style="gap: 1.5rem">
                <div class="col-12 pt-1 px-4">
                  <mat-expansion-panel class="margin-top margin-bottoms pb-2 mx-4" [expanded]="panel2.show">
                    <mat-expansion-panel-header (click)="panel2.show = !panel2.show">
                      <mat-panel-title>
                        <mat-icon class="material-icons">file_copy</mat-icon>
                        <mat-panel-description class="margin-left tx-20"> Remark </mat-panel-description>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row mx-0 mt-4">
                      <div class="col-12">
                        <button (click)="openModalx(template1)" class="btn btn-top btn-round btn-min-width mr-1 mb-1">
                          New Remark
                        </button>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="scroll-hori my-2" style="max-height: 200px; min-height: 150px; max-width: 100%">
                        <table class="table table-bordered table-striped table-hover border-0 table-wrapper">
                          <thead class="tx-gray-700 text-center">
                            <tr>
                              <th class="text-center" style="width: 50px">No</th>
                              <th>
                                <span>Remark Name</span>
                              </th>
                              <th id="th_H" #th_H [ngClass]="{ headcol: rez.offsetWidth >= 450 }">
                                Active/Edit/Delete
                              </th>
                            </tr>
                          </thead>
                          <tbody class="border-0">
                            <ng-container
                              class="tx-gray-700 text-center"
                              *ngFor="let item of arr_data.allowance_type; let i = index"
                            >
                              <tr class="tx-gray-700" *ngIf="item.action_type != 'delete'">
                                <td class="text-center">{{ i + 1 }}</td>
                                <td>{{ item.name }}</td>
                                <td id="td_d" #td_d [ngClass]="{ headcol: rez.offsetWidth >= 450 }" class="text-center">
                                  <input
                                    type="checkbox"
                                    style="vertical-align: middle"
                                    [(ngModel)]="item.status"
                                    (ngModelChange)="ActiveEvent(item.id, 'allowance_type', 'active', 'update')"
                                  />
                                  <span
                                    class="material-icons ml-3 tx-20 cursor-pointer"
                                    (click)="editType(item.id)"
                                    style="vertical-align: middle"
                                  >
                                    create
                                  </span>
                                  <span
                                    class="material-icons ml-2 tx-20 cursor-pointer"
                                    style="vertical-align: middle"
                                    (click)="ActiveEvent(item.id, 'allowance_type', 'delete', 'Delete')"
                                  >
                                    delete_forever
                                  </span>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>

                <div class="col-12 px-4">
                  <mat-expansion-panel class="margin-top margin-bottoms pb-2 mx-4" [expanded]="panel3.show">
                    <mat-expansion-panel-header (click)="panel3.show = !panel3.show">
                      <mat-panel-title>
                        <mat-icon class="material-icons">file_copy</mat-icon>
                        <mat-panel-description class="margin-left tx-20"> Overseas </mat-panel-description>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row mx-0 mt-4">
                      <div class="col-12">
                        <button
                          (click)="openModalx2(template2, 'over')"
                          class="btn btn-top btn-round btn-min-width mr-1 mb-1"
                        >
                          New Overseas
                        </button>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="scroll-hori my-2" style="max-height: 300px; max-width: 100%">
                        <table id="" class="table table-bordered table-striped table-hover border-0 table-wrapper mb-0">
                          <thead class="tx-gray-700 text-center">
                            <tr class="text-center">
                              <th style="width: 50px">No</th>
                              <th>Type</th>
                              <th>Country</th>
                              <th>KH Code</th>
                              <th>Rate</th>
                              <th>Total</th>
                              <th [ngClass]="{ headcol: rez.offsetWidth >= 450 }">Active/Edit/Delete</th>
                            </tr>
                          </thead>
                          <tbody class="border-0">
                            <ng-container
                              class="tx-gray-700 text-center"
                              *ngFor="let item of data_oversea(); let i = index"
                            >
                              <tr
                                class="text-center"
                                *ngIf="item.action_type != 'delete' && item.travel_category == 'oversea'"
                              >
                                <td>{{ i + 1 }}</td>
                                <td class="text-capitalize">
                                  {{ workplace_type_country(item.workplace_type_country) }}
                                </td>
                                <td>{{ workplace_type_country_name(item.workplace_type_country, item.workplace) }}</td>
                                <td>{{ item.kh_code }}</td>
                                <td class="text-center">{{ item.currency }}</td>
                                <td class="text-center">{{ item.allowance_rate | currency: ' ':'symbol' }}</td>
                                <td [ngClass]="{ headcol: rez.offsetWidth >= 450 }" class="text-center">
                                  <input
                                    type="checkbox"
                                    style="vertical-align: middle"
                                    [(ngModel)]="item.status"
                                    (ngModelChange)="ActiveEvent(item.id, 'allowance_list', 'active', 'update')"
                                  />
                                  <span
                                    class="material-icons ml-3 tx-20 cursor-pointer"
                                    style="vertical-align: middle"
                                    (click)="Allowance_editType(item.id, 'Overseas')"
                                  >
                                    create
                                  </span>
                                  <span
                                    class="material-icons ml-2 tx-20 cursor-pointer"
                                    style="vertical-align: middle"
                                    (click)="ActiveEvent(item.id, 'allowance_list', 'delete', 'Delete')"
                                  >
                                    delete_forever
                                  </span>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>

                <div class="col-12 px-4 pb-4">
                  <mat-expansion-panel class="margin-top margin-bottoms pb-2 mx-4" [expanded]="panel1.show">
                    <mat-expansion-panel-header (click)="panel1.show = !panel1.show">
                      <mat-panel-title>
                        <mat-icon class="material-icons">file_copy</mat-icon>
                        <mat-panel-description class="margin-left tx-20"> Local </mat-panel-description>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row mx-0 mt-4">
                      <div class="col-12">
                        <button
                          (click)="openModalx2(template3, 'local')"
                          class="btn btn-top btn-round btn-min-width mr-1 mb-1"
                        >
                          New Local
                        </button>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="scroll-hori my-2" style="max-height: 300px; max-width: 100%">
                        <table id="" class="table table-bordered table-striped table-hover border-0 table-wrapper mb-0">
                          <thead class="tx-gray-700 text-center">
                            <tr class="text-center">
                              <th style="width: 50px">No</th>
                              <!-- <th>Travel</th> -->
                              <th>Travel Type</th>
                              <th>KH Code</th>
                              <th>Rate</th>
                              <th>Total</th>
                              <th [ngClass]="{ headcol: rez.offsetWidth >= 450 }">Active/Edit/Delete</th>
                            </tr>
                          </thead>
                          <tbody class="border-0">
                            <ng-container
                              class="tx-gray-700 text-center"
                              *ngFor="let item of data_local(); let i = index"
                            >
                              <tr
                                class="text-center"
                                *ngIf="item.action_type != 'delete' && item.travel_category == 'local'"
                              >
                                <td>
                                  {{ i + 1 }}
                                </td>
                                <!-- <td>{{workplace_thailand_name(item.workplace)}}</td> {{item.kh_code}} -->
                                <td>
                                  <span *ngIf="item.overnight_type == ''">ไม่แปลงค่า</span>
                                  <span *ngIf="item.overnight_type == '0' && item.overnight_type == 0">ค้างคืน</span>
                                  <span *ngIf="item.overnight_type == '1' && item.overnight_type == 1">ไม่ค้างคืน</span>
                                </td>
                                <td>{{ item.kh_code }}</td>
                                <td class="text-center">{{ item.currency }}</td>
                                <td class="text-center">{{ item.allowance_rate | currency: ' ':'symbol' }}</td>
                                <td [ngClass]="{ headcol: rez.offsetWidth >= 450 }" class="text-center">
                                  <input
                                    type="checkbox"
                                    style="vertical-align: middle"
                                    [(ngModel)]="item.status"
                                    (ngModelChange)="ActiveEvent(item.id, 'allowance_list', 'active', 'update')"
                                  />
                                  <span
                                    class="material-icons ml-3 tx-20 cursor-pointer"
                                    style="vertical-align: middle"
                                    (click)="Allowance_editType(item.id, 'Local')"
                                  >
                                    create
                                  </span>
                                  <span
                                    class="material-icons ml-2 tx-20 cursor-pointer"
                                    style="vertical-align: middle"
                                    (click)="ActiveEvent(item.id, 'allowance_list', 'delete', 'Delete')"
                                  >
                                    delete_forever
                                  </span>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </div>
              </div>
            </div>
            <button
              type="button"
              #cancel
              id="cancel"
              class="close pb-2 d-none"
              data-dismiss="modal"
              aria-label="Close"
              (click)="modalRef.hide()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <button #model1 id="model1" class="d-none" (click)="openModalx(template1)"></button>
            <button #model2 id="model2" class="d-none" (click)="openModalx2(template2, 'over')"></button>
            <button #model3 id="model3" class="d-none" (click)="openModalx2(template3, 'local')"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template1>
    <div class="modal-header">
      <h5 class="modal-title">Remark</h5>
      <button
        type="button"
        class="close pb-2 btn-round"
        data-dismiss="modal"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row tx-gray-700">
        <div class="col-12">
          <label for="basic-url" class="font-weight-bold">Remark</label>
          <span [ngClass]="check_el(Remark_value) ? 'text-error' : 'span-mark'">*</span>
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="Remark_value" aria-describedby="basic-addon3" />
          </div>
        </div>
        <div class="col-12" *ngIf="TypeUpdate">
          <label for="basic-url" class="font-weight-bold tx-gray-700">Status</label>
          <!-- <span [ngClass]="check_el(Booking_name)? 'text-error': 'span-mark'">*</span> -->
          <div class="input-group mb-3">
            <select class="form-control" [(ngModel)]="Booking_Status1">
              <option value="{{ true }}">Active</option>
              <option value="{{ false }}">Not Active</option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <button
            *ngIf="TypeUpdate != true"
            class="btn btn-round btn-min-width mr-1 mb-1 bg-top-pink text-white"
            (click)="AddMaster_remark(Remark_value)"
          >
            Add
          </button>
          <button
            *ngIf="TypeUpdate"
            class="btn btn-round btn-min-width mr-1 mb-1 bg-top-pink text-white"
            (click)="Remake_Update(Remark_value)"
          >
            Update
          </button>
          <button
            class="btn btn-round btn-min-width mr-1 mb-1 bg-white pink border-pink text-pink"
            (click)="Cancel_remark()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #template2>
    <div class="modal-header">
      <h5 class="modal-title">Overseas</h5>
      <button
        type="button"
        #btnClose
        class="close pb-2 btn-round"
        data-dismiss="modal"
        aria-label="Close"
        (click)="Cancel_price()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row tx-gray-700">
        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Travel Category</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.Category)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="oversea" disabled />
          </div>
        </div>

        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">KH Code</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.khrate)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="basic-url"
              [(ngModel)]="Allwance_arr.khrate"
              aria-describedby="basic-addon3"
            />
          </div>
        </div>

        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Type</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.sub_plan)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <select
            #selectx
            class="form-control"
            style="height: 42px"
            [(ngModel)]="Allwance_arr.sub_plan"
            (ngModelChange)="dataLocation_chang(selectx.value)"
          >
            <option value="" disble>Select</option>
            <option *ngFor="let itemx of order_by_list(dropdown_oversee)" [value]="itemx.id">
              {{ itemx.name }}
            </option>
            <!-- 
                        <option value="0">Continent</option>
                        <option value="1">Country</option> -->
          </select>
        </div>
        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Country</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.plan)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <!-- <input type="text" class="form-control" id="basic-url"
                            [(ngModel)]="Allwance_arr.plan" aria-describedby="basic-addon3"> -->
            <fieldset class="w-100">
              <ngx-select-dropdown
                id="Toplevel"
                class=""
                [multiple]="false"
                [(ngModel)]="zone_new"
                (ngModelChange)="County_chang(zone_new, Allwance_arr.id)"
                [config]="Zone_modelDT.config"
                [options]="zone_location"
              >
              </ngx-select-dropdown>
              <!-- [options]="zone_select" -->
            </fieldset>
          </div>
        </div>

        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Rate</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.currency)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="basic-url"
              [(ngModel)]="Allwance_arr.currency"
              aria-describedby="basic-addon3"
            />
          </div>
        </div>

        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Total</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.price)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="basic-url"
              [(ngModel)]="Allwance_arr.price"
              aria-describedby="basic-addon3"
            />
          </div>
        </div>

        <div class="col-6 pb-2" *ngIf="TypeUpdate2">
          <input type="checkbox" class="pr-2" [(ngModel)]="Booking_Status2" />&nbsp;&nbsp;
          <label for="basic-url" class="font-weight-bold tx-gray-700">Active</label>
          <!-- <span [ngClass]="check_el(Booking_name)? 'text-error': 'span-mark'">*</span> -->
          <!-- <div class="input-group mb-3"> -->

          <!-- <select class="form-control" [(ngModel)]="Booking_Status2">
                            <option value={{true}}>Active</option>
                            <option value={{false}}>Not Active</option>
                        </select> -->
          <!-- </div> -->
        </div>
        <div class="col-12">
          <button
            *ngIf="TypeUpdate2 != true"
            class="btn btn-round btn-min-width mr-1 mb-1 bg-top-pink text-white"
            (click)="add_overseas()"
          >
            Add
          </button>
          <!-- (click)="AddMaster_price('Insert')" -->
          <button
            *ngIf="TypeUpdate2"
            class="btn btn-round btn-min-width mr-1 mb-1 bg-top-pink text-white"
            (click)="AddMaster_price('Update', 'overseas')"
          >
            Update
          </button>
          <button
            class="btn btn-round btn-min-width mr-1 mb-1 bg-white pink border-pink text-pink"
            (click)="Cancel_price()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #template3>
    <div class="modal-header">
      <h5 class="modal-title">Local</h5>
      <button
        type="button"
        #btnClose
        class="close pb-2"
        data-dismiss="modal"
        aria-label="Close"
        (click)="Cancel_price()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row tx-gray-700">
        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Travel Category</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.Category)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="local" disabled />
          </div>
        </div>

        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">KH Code</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.khrate)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="basic-url"
              [(ngModel)]="Allwance_arr.khrate"
              aria-describedby="basic-addon3"
            />
          </div>
        </div>

        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Travel Type</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.plan)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <!-- <input type="text" class="form-control" id="basic-url"
                            [(ngModel)]="Allwance_arr.plan" aria-describedby="basic-addon3"> -->
            <select class="form-control" [(ngModel)]="zone_new" style="height: 42px">
              <option *ngFor="let itemx of order_by_list(overnight_typeX)" [value]="itemx.id">
                {{ itemx.name }}
              </option>
            </select>
            <fieldset class="w-100 d-none">
              <ngx-select-dropdown
                id="Toplevel"
                class=""
                [multiple]="false"
                [(ngModel)]="zone_new"
                [config]="Zone_modelDT.config"
                [options]="overnight_typeX"
              >
              </ngx-select-dropdown>
              <!-- [options]="zone_select" -->
              <!--  <ngx-select-dropdown id="Toplevel" class="" [multiple]="false"
                                [(ngModel)]="zone_new" (ngModelChange)="County_chang(zone_new,this.Allwance_arr.id)"
                                [config]="Zone_modelDT.config" [options]="thai_city">
                            </ngx-select-dropdown> -->
              <!-- [options]="zone_select" -->
            </fieldset>
          </div>
        </div>

        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Rate</label>
          <!-- <span
                        [ngClass]="check_el(Allwance_arr.currency)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="basic-url"
              value="THB"
              disabled
              aria-describedby="basic-addon3"
            />
          </div>
        </div>

        <div class="col-6">
          <label for="basic-url" class="font-weight-bold">Total</label>
          <!-- <span [(ngModel)]="Allwance_arr.price (ngModelChange)="numberWithCommas($event)"" 
                        [ngClass]="check_el(Allwance_arr.price)? 'text-error': 'span-mark'">&nbsp;*</span> -->
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              id="basic-url"
              #price
              id="price"
              [(ngModel)]="Allwance_arr.price"
              aria-describedby="basic-addon3"
            />
          </div>
        </div>

        <div class="col-12 pb-2" *ngIf="TypeUpdate2">
          <!-- <label for="basic-url" class="font-weight-bold tx-gray-700">Status</label> -->
          <!-- <span [ngClass]="check_el(Booking_name)? 'text-error': 'span-mark'">*</span> -->
          <!-- <div class="input-group mb-3">
                        <select class="form-control" [(ngModel)]="Booking_Status2">
                            <option value={{true}}>Active</option>
                            <option value={{false}}>Not Active</option>
                        </select>
                    </div> -->
          <input type="checkbox" class="pr-2" [(ngModel)]="Booking_Status2" />&nbsp;&nbsp;
          <label for="basic-url" class="font-weight-bold tx-gray-700">Active</label>
        </div>

        <div class="col-12">
          <button
            *ngIf="TypeUpdate2 != true"
            class="btn btn-round btn-min-width mr-1 mb-1 bg-top-pink text-white"
            (click)="add_local()"
          >
            Add
          </button>
          <!-- (click)="AddMaster_price('Insert')" -->
          <button
            *ngIf="TypeUpdate2"
            class="btn btn-round btn-min-width mr-1 mb-1 bg-top-pink text-white"
            (click)="AddMaster_price('Update', 'local')"
          >
            Update
          </button>
          <button
            class="btn btn-round btn-min-width mr-1 mb-1 bg-white pink border-pink text-pink"
            (click)="Cancel_price()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
