tbody tr:nth-child(2n + 2) {
  background-color: #edfcf9;
}

tbody tr:nth-child(2n + 2):hover {
  background-color: #e3eeec;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  padding: 0px 2rem;
  z-index: 0;
}

#progressbar #time:before {
  font-family: FontAwesome;
  content: '\f00d';
  font-size: 26px;
}

#progressbar #pencil:before {
  font-family: FontAwesome;
  content: '\f040';
  font-size: 26px;
}

#progressbar #cog:before {
  font-family: FontAwesome;
  content: '\f013';
  font-size: 26px;
}

#progressbar #check:before {
  font-family: FontAwesome;
  content: '\f00c';
  font-size: 26px;
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:nth-child(1):after,
#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
  content: '';
  width: 40%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 80%;
  top: 25px;
  z-index: -1;
}
#progressbar li.active:before {
  background: rgb(135, 235, 197);
}
.tx-underline {
  text-decoration: underline;
}
.tx-color-top {
  color: #08508c;
  border-color: #08508c !important;
}
.bg-top-blue {
  background-color: #08508c !important;
}
.f-icon {
  font-size: 3.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
#table_detail tr td {
  font-size: 14px;
  /* padding-top: 0px;
  padding-bottom: 0px; */
  vertical-align: middle;
}
mat-icon {
  font-size: 20px !important;
}
thead tr th.col_number {
  width: 50px;
  max-width: 50px !important;
}
.no-hover-bg:hover {
  background-color: transparent !important;
}
mat-tab-header.mat-tab-header {
  display: none !important;
}
.mx-100-p {
  max-width: 80px;
  /* //min-width: 100px; */
}
.mx-150-p {
  max-width: 150px;
  min-width: 100px;
}

.text-error {
  color: rgb(255, 0, 0);
  font-weight: bold;
}
.border-error {
  border: 1px solid red;
}
.span-mark {
  color: #e20f84;
  font-weight: bolder;
}
.scroll-hori {
  overflow-y: auto;
  max-height: 300px;
  max-width: 100%;
}
.scroll-hori thead th {
  position: sticky;
  top: -1px;
  z-index: 2;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th,
tr > th {
  background: white;
}

.mt-border-success {
  border-width: 4px !important;
  border-color: #16d39a !important;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08508c;
}
#table_detail tr th:nth-child(7),
#table_detail tr td:nth-child(7) {
  border: none;
  background-color: white;
}
.headcol {
  z-index: 1;
  position: sticky;
  width: 5em;
  right: 0;
  top: auto;
  border-top-width: 1px;
  margin-top: -1px;
  background-color: #eee;
}
@media only screen and (max-width: 575px) {
  .font-header {
    font-size: 1rem;
  }
  .font-header-input {
    font-size: 1.5em;
  }
  thead tr th {
    font-size: 1rem;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 0px 16px !important;
  }
}
@media only screen and (max-width: 768px) {
  .p-sm-0 {
    padding: 0px;
  }
  .tx-14 {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 540px) {
  .tx-14 {
    font-size: 10px !important;
  }
}
