<div class="col-12 boxcolor-mm background-Slide animate__animated animate__fadeIn" style="height: 350px">
  <div class="row math-height">
    <div class="col-lg-12">
      <div class="card box-shadow-1 mt-3">
        <div class="card-body m-0 p-0">
          <div class="row" id="rez" #rez>
            <div class="col-12">
              <div class="col-lg-6 col-md-6 col-sm-12" style="min-height: 67px">
                <div class="marker marker-ribbon marker-top-blue pos-absolute mt-4 l-0 pl-5 pr-5">
                  <p class="tx-24 m-0">&#32;&#32;Booking Status</p>
                </div>
              </div>
              <div class="col-lg-6 pr-0 mr-0"></div>
            </div>

            <div class="col-12 pt-0 px-5 mb-4">
              <div class="row mx-0 mt-4">
                <div class="col-12 px-0">
                  <button (click)="openModalx(template1)" class="btn btn-top btn-round btn-min-width mr-1 mb-1">
                    New Item
                  </button>
                </div>
              </div>

              <div class="col-12 px-0">
                <div class="scroll-hori my-2" style="max-height: 200px; min-height: 150px; max-width: 100%">
                  <table class="table table-bordered table-striped table-hover border-0 table-wrapper">
                    <thead class="tx-gray-700 text-center">
                      <tr>
                        <th class="text-center" style="width: 50px">No</th>
                        <th>
                          <span>Name</span>
                        </th>
                        <th id="th_H" #th_H [ngClass]="{ headcol: rez.offsetWidth >= 480 }">Active/Edit/Delete</th>
                      </tr>
                    </thead>
                    <tbody class="border-0">
                      <ng-container class="" *ngFor="let dt of ArrData['list_status']; let i = index">
                        <tr class="tx-gray-700" *ngIf="dt.action_type != 'delete'">
                          <td class="text-center">{{ i + 1 }}</td>
                          <td>{{ dt.name }}</td>
                          <td class="text-center" id="td_d" #td_d [ngClass]="{ headcol: rez.offsetWidth >= 480 }">
                            <input
                              type="checkbox"
                              style="vertical-align: middle"
                              [(ngModel)]="dt.StatusTF"
                              (click)="Chang_Status(dt.id, 'update', 'OK')"
                            />
                            <span
                              class="material-icons ml-3 tx-20 cursor-pointer"
                              style="vertical-align: middle"
                              (click)="Status_Edit(template1, dt.id)"
                            >
                              create
                            </span>
                            <span
                              class="material-icons ml-2 tx-20 cursor-pointer"
                              (click)="Chang_Status(dt.id, 'delete', 'Delete')"
                              style="vertical-align: middle"
                            >
                              delete_forever
                            </span>
                          </td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <button id="cancel" #cancel class="d-none" (click)="modalRef?.hide()"></button>
            <button id="openmodal" #openmodal class="d-none" (click)="openModalx(template1)"></button>
            <input
              type="text"
              id="idchang"
              class="form-control d-none"
              [(ngModel)]="testCher"
              (ngModelChange)="testTextX(testCher)"
            />

            <ng-template #template1>
              <div class="modal-header">
                <h5 class="modal-title">Booking</h5>
                <button
                  type="button"
                  class="close pb-2 btn-round"
                  data-dismiss="modal"
                  aria-label="Close"
                  (click)="modalRef?.hide()"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <label for="basic-url" class="font-weight-bold tx-gray-700">Booking Name</label>
                    <span [ngClass]="check_el(Booking_name) ? 'text-error' : 'span-mark'">*</span>
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="Booking_name"
                        aria-describedby="basic-addon3"
                      />
                    </div>
                  </div>

                  <div class="col-12" *ngIf="TypeUpdate">
                    <label for="basic-url" class="font-weight-bold tx-gray-700">Status</label>
                    <div class="input-group mb-3">
                      <select class="form-control" [(ngModel)]="Booking_Status">
                        <option value="1">Active</option>
                        <option value="0">Not Active</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12">
                    <button
                      *ngIf="TypeUpdate != true"
                      class="btn btn-round btn-round btn-min-width mr-1 mb-1 bg-top-pink text-white"
                      (click)="Add_Status(Booking_name)"
                    >
                      Add
                    </button>
                    <button
                      *ngIf="TypeUpdate"
                      class="btn btn-round btn-round btn-min-width mr-1 mb-1 bg-top-pink text-white"
                      (click)="Status_Update()"
                    >
                      Update
                    </button>
                    <button
                      class="btn btn-round btn-round btn-min-width mr-1 mb-1 bg-white pink border-pink text-pink"
                      (click)="Cancel_status()"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
