<mat-tab-group dynamicHeight>
    <mat-tab label="TRAVEL FOR BUSINESS">
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>
    <mat-tab label="TRAVEL FOR TRAINING">
        <div class="col-sm-12">
            <p class="tx-uppercase tx-18 text-center primary lighten-1 mt-3 book-trip-title">
              BOOK FOR YOUR TRIP!
            </p>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <p class="tx-14 tx-gray-700 mb-0 business-date-title">
                    <span class="d-none d-1024-block">Business Date&#32;
                    <span class="tx-gray-500 tx-italic">Form - To</span></span>
                  </p>
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date">
                      <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                  <!-- <div class="form-group position-relative has-icon-right">
                    <input
                      type="search"
                      id="training_date_from"
                      autocomplete="off"
                      onpaste="return false;"
                      ondrop="return false;"
                      onkeypress="return false;"
                      class="form-control h-50"
                      [(ngModel)]="trainingDateFrom"
                      [bsConfig]="{ rangeInputFormat: 'DD MMM YYYY', showWeekNumbers: false }"
                      [maxDate]="trainingDateTo"
                      bsDaterangepicker
                    >
                    <label class="form-control-position" for="training_date_from">
                      <i class="material-icons tx-gray-500 cursor-pointer">today</i>
                    </label>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 pr-1">
                <div class="form-group">
                  <p class="tx-14 tx-gray-700 mb-0">Request Type</p>
                  <select class="form-control input-small" #mySelectTraining (change)="changeRequestType(mySelectTraining.value)" [(ngModel)]="trainingRequestType">
                    <option value="overseatraining">Oversea training</option>
                    <option value="localtraining">Local training</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6 pl-1">
                <div class="form-group">
                  <p class="tx-14 tx-gray-700 mb-0">Destination</p>
                  <input class="form-control h-50" [(ngModel)]="trainingDestination" [formControl]="trainingMyControl" [matAutocomplete]="autoX">
                  <mat-autocomplete #autoX="matAutocomplete" (optionSelected)="selectedOption($event, 'training')">
                    <mat-option *ngFor="let option of trainingFilteredOptions | async" [value]="option">
                      {{ displayName(option) }}
                    </mat-option>
                  </mat-autocomplete>
                </div>
              </div>
            </div>
            <div class="row ">
              <div class="col-sm-6 pr-1"></div>
              <div class="col-sm-6 pl-1">
                <div class="proceed-button-container">
                  <button type="button" class="proceed-button" (click)="goto_training_trip()">
                    PROCEED
                    <mat-icon class="material-symbols-outlined">double_arrow</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          
    </mat-tab>
    <mat-tab label="TRAVEL FOR TRAINING" style="border-color: rgba(0,0,0,0.1)">
      <div class="col-sm-12">
        <p class="tx-uppercase tx-18 text-center primary lighten-1 mt-3 book-trip-title">
          BOOK FOR YOUR TRIP!
        </p>
        <div class="row">
          <div class="col-sm-6 pr-1">
            <div class="form-group">
              <p class="tx-14 tx-gray-700 mb-0">Request Type</p>
              <select class="form-control input-small" #mySelectTraining (change)="changeRequestType(mySelectTraining.value)" [(ngModel)]="trainingRequestType">
                <option value="overseatraining">Oversea training</option>
                <option value="localtraining">Local training</option>
              </select>
            </div>
          <!-- </div>
          <div class="col-sm-6 pl-1"> -->
            <div class="form-group">
              <p class="tx-14 tx-gray-700 mb-0">Destination</p>
              <input class="form-control h-50" [(ngModel)]="trainingDestination" [formControl]="trainingMyControl" [matAutocomplete]="autoX">
              <mat-autocomplete #autoX="matAutocomplete" (optionSelected)="selectedOption($event, 'training')">
                <mat-option *ngFor="let option of trainingFilteredOptions | async" [value]="option">
                  {{ displayName(option) }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <p class="tx-14 tx-gray-700 mb-0 business-date-title">
                <span class="d-none d-1024-block">Business Date&#32;
                  <span class="tx-gray-500 tx-italic">Form - To</span>
                </span>
              </p>
              <mat-form-field appearance="outline" class="full-width">
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-6 pr-1"></div>
          <div class="col-sm-6 pl-1">
            <div class="proceed-button-container">
              <button type="button" class="proceed-button" (click)="goto_training_trip()">
                PROCEED
                <mat-icon class="material-symbols-outlined">double_arrow</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    
  </mat-tab-group>