table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-section {
  margin: 12px 0;
}

.example-chip-list {
  width: 100%;
}

tbody tr:nth-child(2n+2) {
  background-color: #edfcf9;
}

tbody tr:nth-child(2n+2):hover {
  background-color: #e3eeec;
}