.html {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5rem;
  background-color: #f1f1f1;
  min-height: 20px;
  max-height: 10rem;
  overflow: auto;
}
/* ::root{
  --inline:inline;
} */
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #000000;
}

tbody tr:nth-child(2n + 2) {
  background-color: #edfcf9;
}

tbody tr:nth-child(2n + 2):hover {
  background-color: #e3eeec;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  padding: 0px 2rem;
  z-index: 0;
}

#progressbar #time:before {
  font-family: FontAwesome;
  content: '\f00d';
  font-size: 24px;
}

#progressbar #pencil:before {
  font-family: FontAwesome;
  content: '\f040';
  font-size: 24px;
}

#progressbar #cog:before {
  font-family: FontAwesome;
  content: '\f013';
  font-size: 24px;
}

#progressbar #check:before {
  font-family: FontAwesome;
  content: '\f00c';
  font-size: 24px;
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 0px auto;
  padding: 2px;
}

#progressbar li:nth-child(1):after,
#progressbar li:nth-child(2):after,
#progressbar li:nth-child(3):after {
  content: '';
  width: 40%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 80%;
  top: 25px;
  z-index: -1;
}
/*!! //สีตาม track Status */
/* 1.not start = NS >> #969696
2.Traveler = T (USER) >> #f1c40f
3.Business = B (ADMIN) >> #3498db
4.Complete = C >> #19b092 */
#progressbar li#time.active:before {
  background: #969696;
}
#progressbar li#pencil.active:before {
  background: #f1c40f;
}
#progressbar li#cog.active:before {
  background: #3498db;
}
#progressbar li#check.active:before {
  background: #19b092;
}
/*
   /*!! //สีตาม track Status */

.tx-color-top {
  color: #08508c;
  border-color: #08508c !important;
}

.cursor-disable {
  cursor: not-allowed;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #08508c;
}
#table_detail tr td,
#table_detail tr th {
  text-align: center;
}

.border-color-top {
  border-top: 1px solid #08508c;
  /* border-top-width: 1px; */
  /* border-style: solid; */
}
.tx-top-blue-disable {
  color: #b2e2f7 !important;
  cursor: not-allowed;
  pointer-events: none;
}
.clip-disable {
  color: rgb(155, 155, 137) !important;
}
/* !Freeze Header */
.scroll-hori thead tr th {
  position: sticky;
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 0.5px 0 rgb(222, 226, 230), inset 0 -0.5px 0 rgb(222, 226, 230);
  top: 0px;
  z-index: 2;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  padding: 4px 8px;
}
th,
tr > th {
  /* padding: 7px 8px; */
  vertical-align: middle;
  background: white;
}
thead tr,
tbody tr {
  height: 36px !important;
  max-height: 40px;
}

/* !Freeze Header */

.gap {
  gap: 0.5em;
}
.mn-150-px {
  max-height: 30px !important;
  min-width: 120px;
}
.text-middle {
  vertical-align: middle;
}
.tx-lightgray {
  color: #dddddd;
}
.no-file {
  color: inherit;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.cursor-pointer {
  cursor: pointer;
}
/* ** Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  #progressbar li:nth-child(1):after,
  #progressbar li:nth-child(2):after,
  #progressbar li:nth-child(3):after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 75%;
    top: 25px;
    z-index: -1;
  }
  #progressbar li {
    padding: 0px 1rem;
  }
  .p-sm-0 {
    padding: 0px;
  }
}
.btn-top:disabled:is(:hover) {
  cursor: not-allowed;
  border-color: #08508c !important;
  background-color: #08508c !important;
  color: #fff !important;
}
/* ** Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #progressbar li:nth-child(1):after,
  #progressbar li:nth-child(2):after,
  #progressbar li:nth-child(3):after {
    content: '';
    width: 40%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 80%;
    top: 25px;
    z-index: -1;
  }
  #progressbar li {
    padding: 0px 2rem;
  }
  .btn-min-width {
    width: 30%;
  }
  .gap {
    justify-content: start;
  }
}

/* ** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .p-sm-0 {
    padding: 0px;
  }
}

/* ** Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .p-sm-0 {
    padding: 0px;
  }
}
/* ** Extra large devices (large desktops, 1200px and up) */
@media (max-width: 576px) {
}

.link-text {
  color: #e21683;
  cursor: pointer !important;
  display: -webkit-inline-box;
}
.link-text > p {
  text-decoration: underline;
}
.link-text:hover {
  color: #04528a;
}
.link-savedinfo {
  color: #ff7588;
  cursor: pointer !important;
  display: -webkit-inline-box;
}
.link-savedinfo > p {
  text-decoration: underline;
}
.link-savedinfo:hover {
  color: #04528a;
}
@media (min-width: 0px) and (max-width: 575px) {
  #progressbar li:nth-child(1):after,
  #progressbar li:nth-child(2):after,
  #progressbar li:nth-child(3):after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 75%;
    top: 25px;
    z-index: -1;
  }
  #progressbar li {
    padding: 0px 1rem;
  }
  .tx-14 {
    font-size: 0.75rem;
  }
  .gap {
    row-gap: 10px;
  }
  .btn-min-width {
    width: 100%;
  }
}
